/* line 1, ../sass/screen.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 7, ../sass/screen.scss */
body {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  background-color: #fff;
  overflow-x: hidden;
}

/* line 16, ../sass/screen.scss */
header {
  height: 60px;
  line-height: 60px;
  background-color: #f2e8e8;
}

/* line 22, ../sass/screen.scss */
.banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  text-align: center;
}
/* line 29, ../sass/screen.scss */
.banner h1 {
  margin-top: 175px;
  margin-bottom: 20px;
  font-size: 120px;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 36, ../sass/screen.scss */
.banner span {
  border-top: 2px solid #15a4fa;
  font-size: 20px;
  padding: 25px;
}
/* line 41, ../sass/screen.scss */
.banner .btn {
  margin-top: 60px;
  margin-bottom: 200px;
  text-decoration: none;
  border: 1px solid #15a4fa;
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 57, ../sass/screen.scss */
.banner .btn:hover {
  background-color: #15a4fa;
}

/* line 63, ../sass/screen.scss */
.design {
  background-color: #f2e8e8;
  text-align: center;
  padding: 100px 0;
}
/* line 67, ../sass/screen.scss */
.design h2 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-size: 40px;
}
/* line 72, ../sass/screen.scss */
.design span {
  font-size: 20px;
  color: #999999;
}

/* line 79, ../sass/screen.scss */
.feature {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
/* line 83, ../sass/screen.scss */
.feature img {
  margin-bottom: 25px;
}
/* line 86, ../sass/screen.scss */
.feature span {
  font-size: 22px;
}
/* line 89, ../sass/screen.scss */
.feature p {
  padding: 25px 50px;
  font-size: 15px;
  color: #999999;
}

/* line 96, ../sass/screen.scss */
.portfolio {
  background-color: #f2e8e8;
  text-align: center;
}
/* line 99, ../sass/screen.scss */
.portfolio .portfolio_tittle {
  margin-top: 75px;
  margin-bottom: 50px;
}
/* line 102, ../sass/screen.scss */
.portfolio .portfolio_tittle h3 {
  font-size: 40px;
}
/* line 105, ../sass/screen.scss */
.portfolio .portfolio_tittle span {
  font-size: 15px;
  color: #999999;
}
/* line 110, ../sass/screen.scss */
.portfolio .main_portfolio {
  margin-bottom: 100px;
}
/* line 112, ../sass/screen.scss */
.portfolio .main_portfolio .view {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 15px 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
/* line 121, ../sass/screen.scss */
.portfolio .main_portfolio .view .mask {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(66, 212, 244, 0.4);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
}
/* line 138, ../sass/screen.scss */
.portfolio .main_portfolio .view img {
  position: relative;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  max-width: 100%;
}
/* line 146, ../sass/screen.scss */
.portfolio .main_portfolio .view a.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 153, ../sass/screen.scss */
.portfolio .main_portfolio .view:hover img {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
}
/* line 160, ../sass/screen.scss */
.portfolio .main_portfolio .view:hover .mask {
  opacity: 1;
}

/* line 168, ../sass/screen.scss */
.forma {
  background-image: url(../img/bg_form.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
/* line 174, ../sass/screen.scss */
.forma h3 {
  font-size: 40px;
  color: #fff;
  margin-top: 70px;
  margin-bottom: 20px;
}
/* line 180, ../sass/screen.scss */
.forma span {
  font-size: 15px;
  color: #999999;
}
/* line 184, ../sass/screen.scss */
.forma form {
  margin-top: 45px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 15px;
}
/* line 189, ../sass/screen.scss */
.forma form label {
  margin: 20px;
}
/* line 192, ../sass/screen.scss */
.forma form input {
  color: #fff;
  outline: none;
  height: 60px;
  width: 550px;
  background: transparent;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #999999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 204, ../sass/screen.scss */
.forma form input:focus {
  border: 1px solid #fff;
}
/* line 208, ../sass/screen.scss */
.forma form textarea {
  color: #fff;
  outline: none;
  height: 160px;
  width: 550px;
  background: transparent;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #999999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 220, ../sass/screen.scss */
.forma form textarea:focus {
  border: 1px solid #fff;
}
/* line 224, ../sass/screen.scss */
.forma form .button {
  margin-bottom: 200px;
  text-decoration: none;
  border: 1px solid #15a4fa;
  color: #fff;
  padding: 11px 40px;
  font-size: 18px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 238, ../sass/screen.scss */
.forma form .button:hover {
  background-color: #15a4fa;
}

/* line 246, ../sass/screen.scss */
footer {
  line-height: 50px;
  font-size: 15px;
  color: #999999;
  background-color: #f2e8e8;
}
/* line 251, ../sass/screen.scss */
footer span {
  margin-left: 50px;
}
/* line 254, ../sass/screen.scss */
footer .fa {
  line-height: 50px;
  font-size: 30px;
  color: #15a4fa;
  padding: 5px;
}
/* line 259, ../sass/screen.scss */
footer .fa:hover {
  color: #3b5998;
}

/* line 266, ../sass/screen.scss */
.loaderArea {
  background: linear-gradient(90deg, #bcbfc4 10%, #d2d4d8 90%);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100000;
}
/* line 275, ../sass/screen.scss */
.loaderArea .loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border: 8px solid rgba(255, 255, 255, 0.5);
  border-top-color: #7f7bc4;
  border-radius: 50%;
  -moz-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
  -webkit-animation: spin 0.5s infinite linear;
}
/* line 290, ../sass/screen.scss */
.loaderArea:before, .loaderArea after {
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 0;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
