/* line 4, ../sass/screen.scss */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 10, ../sass/screen.scss */
html {
  display: block;
}

/* line 14, ../sass/screen.scss */
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

/* line 22, ../sass/screen.scss */
header {
  background-image: url("../img/banner_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
/* line 28, ../sass/screen.scss */
header .container {
  position: relative;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 33, ../sass/screen.scss */
header .container .fw {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 47, ../sass/screen.scss */
header .container .fw .top_menu {
  margin-top: 40px;
}
/* line 49, ../sass/screen.scss */
header .container .fw .top_menu .mobile_top {
  width: 80vw;
  display: none;
}
/* line 54, ../sass/screen.scss */
header .container .fw .top_menu .mobile_top .menu_trigger {
  font-size: 25px;
  color: #ffffff;
}
/* line 59, ../sass/screen.scss */
header .container .fw .top_menu ul {
  /*height: 60px;*/
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 73, ../sass/screen.scss */
header .container .fw .top_menu ul li {
  /*display: inline-block;
  vertical-align: middle;*/
  padding: 0px 50px;
  list-style-type: none;
}
/* line 78, ../sass/screen.scss */
header .container .fw .top_menu ul li a {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}
/* line 84, ../sass/screen.scss */
header .container .fw .top_menu ul li a::after {
  content: '';
  display: block;
  padding-top: 2px;
  border-bottom: 3px solid #b2d5ce;
  width: 0;
  -webkit-box-shadow: 7px 7px 22px 0px #ffffff;
  -moz-box-shadow: 7px 7px 22px 0px #ffffff;
  box-shadow: 7px 7px 22px 0px #ffffff;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
/* line 98, ../sass/screen.scss */
header .container .fw .top_menu ul li a:hover::after {
  width: 100%;
}
/* line 101, ../sass/screen.scss */
header .container .fw .top_menu ul li a:hover {
  color: #b2d5ce;
}
/* line 108, ../sass/screen.scss */
header .container .fw .title {
  text-align: center;
}
/* line 110, ../sass/screen.scss */
header .container .fw .title h1 {
  font-size: 45px;
  text-transform: uppercase;
  font-family: 'Baloo Bhaijaan', cursive;
}
/* line 115, ../sass/screen.scss */
header .container .fw .title p {
  font-size: 18px;
}
/* line 118, ../sass/screen.scss */
header .container .fw .title .btn {
  display: inline-block;
  margin: 15px 0;
}
/* line 121, ../sass/screen.scss */
header .container .fw .title .btn a {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #16a085;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 135, ../sass/screen.scss */
header .container .fw .title .btn a:hover {
  background-color: #95afaa;
  -webkit-box-shadow: 7px 7px 22px 0px #ffffff;
  -moz-box-shadow: 7px 7px 22px 0px #ffffff;
  box-shadow: 7px 7px 22px 0px #ffffff;
}
/* line 145, ../sass/screen.scss */
header .container .fw .social {
  margin: 15px;
}
/* line 147, ../sass/screen.scss */
header .container .fw .social a {
  padding: 7px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

/* line 157, ../sass/screen.scss */
.second {
  background-color: #e7ebef;
}
/* line 159, ../sass/screen.scss */
.second .container {
  position: relative;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 164, ../sass/screen.scss */
.second .container .rapresent {
  background-image: url("../img/section2_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 80px 0px;
}
/* line 169, ../sass/screen.scss */
.second .container .rapresent h4 {
  font-size: 18px;
  text-transform: uppercase;
  color: #16a085;
  padding: 0 10px;
  letter-spacing: 2px;
  font-weight: bold;
}
/* line 177, ../sass/screen.scss */
.second .container .rapresent p {
  max-width: 430px;
  color: #767777;
  padding: 50px 10px;
  font-family: 'Baloo Bhaijaan', cursive;
}
/* line 183, ../sass/screen.scss */
.second .container .rapresent .btn {
  display: inline-block;
  padding: 15px 10px;
}
/* line 186, ../sass/screen.scss */
.second .container .rapresent .btn a {
  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #16a085;
  text-decoration: none;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
/* line 200, ../sass/screen.scss */
.second .container .rapresent .btn a:hover {
  background-color: #95afaa;
  -webkit-box-shadow: 7px 7px 22px 0px #ffffff;
  -moz-box-shadow: 7px 7px 22px 0px #ffffff;
  box-shadow: 7px 7px 22px 0px #ffffff;
}

/* line 212, ../sass/screen.scss */
.third {
  background-color: #c5c8cc;
  padding: 100px 10px;
}
/* line 215, ../sass/screen.scss */
.third .container {
  position: relative;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 220, ../sass/screen.scss */
.third .container .line {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 233, ../sass/screen.scss */
.third .container .line .line_title {
  text-align: center;
  color: black;
  padding: 10px 30px;
  min-width: 300px;
}
/* line 238, ../sass/screen.scss */
.third .container .line .line_title h5 {
  font-size: 18px;
  padding: 15px;
}
/* line 242, ../sass/screen.scss */
.third .container .line .line_title p {
  font-size: 17px;
  margin-bottom: 20px;
}
/* line 247, ../sass/screen.scss */
.third .container .line .slider, .third .container .line .slick-initialized, .third .container .line .slick-slider {
  min-height: 240px;
  max-width: 700px;
  width: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 263, ../sass/screen.scss */
.third .container .line .slider .fa-chevron-left, .third .container .line .slick-initialized .fa-chevron-left, .third .container .line .slick-slider .fa-chevron-left {
  color: black;
  font-size: 20px;
  position: absolute;
  top: -9%;
  right: 7%;
  cursor: pointer;
}
/* line 271, ../sass/screen.scss */
.third .container .line .slider .fa-chevron-right, .third .container .line .slick-initialized .fa-chevron-right, .third .container .line .slick-slider .fa-chevron-right {
  color: black;
  font-size: 20px;
  position: absolute;
  top: -9%;
  right: 2%;
  cursor: pointer;
}
/* line 279, ../sass/screen.scss */
.third .container .line .slider .slide, .third .container .line .slick-initialized .slide, .third .container .line .slick-slider .slide {
  margin: 0 10px;
  outline: none;
}
/* line 282, ../sass/screen.scss */
.third .container .line .slider .slide img, .third .container .line .slick-initialized .slide img, .third .container .line .slick-slider .slide img {
  max-width: 100%;
  margin: 0 auto;
}

/* line 291, ../sass/screen.scss */
.fourth {
  background-image: url("../img/subscribe_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
/* line 297, ../sass/screen.scss */
.fourth .container {
  position: relative;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 302, ../sass/screen.scss */
.fourth .container .subscribe {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 316, ../sass/screen.scss */
.fourth .container .subscribe h3 {
  font-size: 32px;
  text-transform: uppercase;
  padding: 20px;
  letter-spacing: 3px;
  text-align: center;
}
/* line 323, ../sass/screen.scss */
.fourth .container .subscribe .form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 333, ../sass/screen.scss */
.fourth .container .subscribe .form input {
  width: 270px;
  height: 60px;
  border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0px 20px;
  text-transform: uppercase;
  color: #000;
}
/* line 346, ../sass/screen.scss */
.fourth .container .subscribe .form button {
  height: 60px;
  width: 60px;
  background-color: #16a085;
  border: none;
  outline: none;
  border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
/* line 356, ../sass/screen.scss */
.fourth .container .subscribe .form button .fa {
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@-webkit-keyframes updown {
  15% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
  30% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  40% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes updown {
  15% {
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
  }
  30% {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
  }
  40% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  65% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
/* line 416, ../sass/screen.scss */
.fourth .container .subscribe .form button:hover .fa {
  -webkit-animation: updown 0.6s ease;
  animation: updown 0.6s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/* line 430, ../sass/screen.scss */
.fifth {
  background-color: #e7ebef;
  text-align: center;
  padding: 100px 0;
  color: black;
}
/* line 435, ../sass/screen.scss */
.fifth .container {
  position: relative;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
}
/* line 440, ../sass/screen.scss */
.fifth .container h3 {
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
/* line 445, ../sass/screen.scss */
.fifth .container p {
  font-size: 17px;
  padding: 20px 80px;
}
/* line 449, ../sass/screen.scss */
.fifth .container .store {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 465, ../sass/screen.scss */
.fifth .container .store .apple, .fifth .container .store .android {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 15px 15px;
}
/* line 473, ../sass/screen.scss */
.fifth .container .store .apple .store_title, .fifth .container .store .android .store_title {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
  background-color: #1abc9c;
  padding: 15px 70px 15px 15px;
  border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  min-width: 220px;
}
/* line 485, ../sass/screen.scss */
.fifth .container .store .store_logo {
  color: #ffffff;
  font-size: 25px;
  background-color: #16a085;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}
/* line 493, ../sass/screen.scss */
.fifth .container .store .store_logo .fa {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
/* line 499, ../sass/screen.scss */
.fifth .container .store .store_logo:hover .fa {
  -webkit-transform: rotateZ(360deg);
  -ms-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

/* line 508, ../sass/screen.scss */
footer {
  padding: 10px 0;
}
/* line 510, ../sass/screen.scss */
footer .container {
  position: relative;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
/* line 516, ../sass/screen.scss */
footer .container .bottom {
  color: #000;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* line 528, ../sass/screen.scss */
footer .container .bottom .bottom_menu ul {
  margin: 5px 0;
}
/* line 530, ../sass/screen.scss */
footer .container .bottom .bottom_menu ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 5px;
  font-size: 12px;
}
/* line 535, ../sass/screen.scss */
footer .container .bottom .bottom_menu ul li::after {
  content: '';
  border-right: 2px solid #16a085;
  padding: 0 5px;
}
/* line 540, ../sass/screen.scss */
footer .container .bottom .bottom_menu ul li:last-child::after {
  border-right: none;
}
/* line 543, ../sass/screen.scss */
footer .container .bottom .bottom_menu ul li a {
  color: black;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 549, ../sass/screen.scss */
footer .container .bottom .bottom_menu ul li a:hover {
  color: #16a085;
}
/* line 555, ../sass/screen.scss */
footer .container .bottom .bottom_menu span {
  font-size: 14px;
  font-weight: bold;
}
