$black: #060606;
$accent: #fc481a;

* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
	padding: 0;
	margin: 0;
	background-color: $black;
	color: #fff;
	//overflow-x: hidden;
}

.container {
	position: relative;
	max-width: 980px;
    height: 100%;
    margin: 0 auto;
}

header {
	margin-top: 20px;
	.container {
		.top_line {
			display: -ms-flexbox;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    .logo {
		    	display: -ms-flexbox;
			    display: -webkit-flex;
			    display: flex;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
		    }
		    .natural, .like {
		    	display: -ms-flexbox;
			    display: -webkit-flex;
			    display: flex;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    
			    p {
			    	font-family: 'Open Sans', sans-serif;
			    	font-size: 17px;
			    	span {
			    		font-size: 24px;
			    		padding: 0 7px;
			    		font-weight: bold;
			    	}
			    }
		    }
		    .natural {
		    	margin: 0 25px 0 80px;
		    }
		}
	}
}

.bg_wrapp {
		background-image: url("../img/bg_manwomen.png"), url("../img/bg_banner.png");
		background-position: center top, center top;
		background-repeat: no-repeat, no-repeat;
		margin: 0px 10px;
}

.container {
	h1 {
		margin: 28px 0;
		font-size: 60px;
		font-family: 'Roboto Cn', sans-serif;
		text-transform: uppercase;
		background: linear-gradient(45deg, #f0e394 33%, #b59c53 66%);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  		text-align: center;
	}
	.banner {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0 10px;
		.banner_1 {
			max-width: 340px;
			h4 {
				font-size: 22px;
				font-family: 'Open Sans', sans-serif;
			}
			ul {
				list-style-type: none;
				margin: 15px 0;
				li {
					position: relative;
					font-family: 'PT Sans Narrow reg', sans-serif;
					font-size: 16px;
					padding: 12px 35px;
					&::after {
						content: url("../img/under.png");
						position: absolute;
						top: 25px;
						left: 0;
					}
					&::before {
						content: url("../img/chek.png");
						position: absolute;
						top: 7px;
						left: 0;
					}
					&:last-child::after{
						display: none;
					}
				}
			}
		}
		.banner_2 {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
			-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		    justify-content: flex-end;
		    text-align: center;
		    p {
		    	font-size: 18px;
		    	font-family: 'PT Sans Narrow reg', sans-serif;
		    	padding: 10px;
		    	margin-bottom: 75px;
		    }

		}
		.banner_3 {
			.timer {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
				span {
					position: relative;
					background: #f6f6f6;
					color: #000000;
					font-size: 50px;
					font-weight: bold;
					font-family: 'PT Sans Narrow', sans-serif;
					margin: 0 5px;
					border-radius: 7px;
					-moz-border-radius: 7px;
					-webkit-border-radius: 7px;
					padding: 0 10px;
					&::after {
						content: "";
						height: 1px;
						width: 100%;
						background: #cecece;
						display: block;
						position: absolute;
						top: 50%;
						left: 0;
					}
					&:first-child {
						opacity: 0.8;
					}
				}
				p {
					margin-left: 15px;
					position: relative;
					font-family: 'PT Sans Narrow', sans-serif;
					font-size: 18px;
					&::before {
						content: "*";
						position: absolute;
						top: 0;
						left: -8px;
					}
				}
			}
			.forma {
				min-width: 280px;
				max-width: 285px;
				position: relative;
				margin-top: 25px;
				padding: 15px;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
				background: #ffffff;
				background-image: url("../img/bg_form.png");
				background-repeat: no-repeat;
				background-position: left top;
				overflow: hidden;
				z-index: 10;
				&::before {
					content: url("../img/flash.png");
					position: absolute;
					top: -10px;
					left: 20px; 
				}
				&::after {
					content: "";
					height: 200px;
					width: 200px;
					background: #c1bdbc;
					position: absolute;
					top: -41px;
					left: -51px;
					display: block;
					border-radius: 50%;
					-moz-border-radius: 50%;
					-webkit-border-radius: 50%;
					z-index: 1;
					opacity: 0.1;
				}
				.price {
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-justify-content: space-between;
				    -ms-flex-pack: justify;
				    justify-content: space-between;
					p {
						font-family: 'PT Sans Narrow', sans-serif;
						font-size: 18px;
						span {
							font-size: 48px;
							font-weight: bold;
						}
					}
					.oldprice {
						opacity: 0.8;
						span {
							text-decoration: line-through;
							font-weight: lighter;
						}
					}
				}
				form {
					margin-top: 45px;
					input {
						background: #f6f6f6;
						color: #9f9f9f;
						padding: 20px 12px;
						border-radius: 6px;
						-moz-border-radius: 6px;
						-webkit-border-radius: 6px;
						outline: none;
						font-size: 14px;
						font-family: 'Open Sans', sans-serif;
						border: 1px solid #e1e1e1;
						margin-bottom: 14px;
						width: 100%;
						&::placeholder {
							color: #9f9f9f;
						}
						&::-moz-placeholder {
							color: #9f9f9f;
						}
						&:-ms-input-placeholder {
							color: #9f9f9f;
						}
					}
					.order_btn {
						display: block;
						background: $accent;
						text-decoration: none;
						color: #ffffff;
						font-family: 'PT Sans Narrow', sans-serif;
						font-size: 22px;
						font-weight: bold;
						text-transform: uppercase;
						padding: 15px 20px 15px 70px;
						border-radius: 6px;
						-moz-border-radius: 6px;
						-webkit-border-radius: 6px;
						margin: 15px 0;
						position: relative;
						z-index: 5;
						&::before {
							content: "";
							height: 100%;
							width: 20%;
							background: #b13412;
							position: absolute;
							top: 0;
							left: 0;
							display: block;
							border-radius: 6px 0 0 6px;
							-moz-border-radius: 6px 0 0 6px;
							-webkit-border-radius: 6px 0 0 6px;
							-webkit-transition: .5s;
							-moz-transition: .5s;
							-o-transition: .5s;
							transition: .5s;
							z-index: -1;
						}
						&::after {
							content: url("../img/arrow.png");
							position: absolute;
							top: 17px;
							left: 17px;
						}
						&:hover::before {
							width: 100%;
							border-radius: 6px;
							-moz-border-radius: 6px;
							-webkit-border-radius: 6px;
						}

					}
				}
			}
			.protect {
				text-align: center;
				color: #000000;
				font-size: 16px;
				font-family: 'PT Sans Narrow', sans-serif;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: center;
			    -ms-flex-pack: center;
			    justify-content: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    img {
			    	margin-right: 8px;
			    }
			}
		}
	}
}

.problem {
	background-image: url("../img/bg_questions.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 50px 5px 0 5px;
	h2 {
		text-align: center;
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 48px;
		font-weight: bold;
		text-transform: uppercase;
		span {
			color: $accent;
		}
	}
	p {
		text-align: center;
		font-size: 22px;
		font-family: 'PT Sans Narrow', sans-serif;
		padding: 15px 0;
	}
	.questions {
		background: #ffffff;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		padding: 25px 50px 50px 50px;
		max-width: 640px;
		margin: 0 auto;
		.question {
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-flex-wrap: wrap;
	  			-ms-flex-wrap: wrap;
	  			flex-wrap: wrap;
			span {
				font-size: 30px;
				font-weight: bold;
				font-family: 'PT Sans Narrow', sans-serif;
				color: #000000;
				background: #e5e5e5;
				padding: 8px 20px;
				border-radius: 50%;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				margin-right: 15px;
				}
			h5 {
				font-size: 24px;
				text-transform: uppercase;
				color: #000000;
				font-family: 'PT Sans Narrow', sans-serif;
				letter-spacing: 1px;
			}
		}
		.question_btn {
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-align-items: center;
				-ms-flex-align: center;
				align-items: center;
				-webkit-flex-wrap: wrap;
	  			-ms-flex-wrap: wrap;
	  			flex-wrap: wrap;
				a {
					text-decoration: none;
					text-transform: uppercase;
					color: #ffffff;
					font-family: 'PT Sans Narrow', sans-serif;
					font-size: 24px;
					font-weight: bold;
					background: $accent;
					padding: 20px 50px;
					border-radius: 6px;
					-moz-border-radius: 6px;
					-webkit-border-radius: 6px;
					margin: 30px 15px 0 15px;
					position: relative;
					overflow: hidden;
					z-index: 6;
					&::before {
						content: "";
						height: 100%;
						width: 100%;
						background: #fc5d34;
						position: absolute;
						top: -28px;
						left: 0;
						display: block;
						border-radius: 45%;
						-moz-border-radius: 45%;
						-webkit-border-radius: 45%;
						z-index: -5;
					}
					&:hover {
						background: #fc481a;
					}
					&:hover::before {
						display: none;
					}
				}
				.second {
						padding: 20px 65px;
					}
			}
	}
}

.enjoy {
	background: #ffffff;
	background-image: url("../img/bg_girl.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #000000;
	margin: 50px 10px;
	padding: 30px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	h4 {
		font-family: 'PT Sans Narrow', sans-serif;
		font-size: 48px;
		font-weight: bold;
		max-width: 540px;
		text-transform: uppercase;
		span {
			color: $accent;
		}
	}
	p {
		margin-top: 25px;
		max-width: 550px;
		font-size: 17px;
		font-family: 'Open Sans', sans-serif;
	}
}

.wrap {
		background-image: url("../img/bg_advantage.png");
		background-position: bottom left;
		background-position: 20% 100%; 
		background-repeat: no-repeat;
}

.advantage_wrapp {
	h3 {
		font-family: 'Roboto Lt', sans-serif;
		font-size: 40px;
		text-align: center;
		text-transform: uppercase;
		padding: 15px 0;
		span {
			color: $accent;
		}
	}
	.advantages {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	    -webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	    padding-bottom: 80px;
	    .advantage_right {
	    	display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: flex-end;
		    -ms-flex-pack: end;
		    justify-content: flex-end;
			-webkit-flex-wrap: wrap;
    		-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
    		max-width: 700px;
	    }
    	.advantage {
    		border-radius: 6px;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			background: #ffffff;
			color: #000000;
			margin: 10px;
			max-width: 200px;
			img {
				border-radius: 6px 6px 0 0;
				-moz-border-radius: 6px 6px 0 0;
				-webkit-border-radius: 6px 6px 0 0;
				-webkit-transition: .5s;
				-moz-transition: .5s;
				-o-transition: .5s;
				transition: .5s;
			}
			p {
				text-align: center;
				padding: 10px 40px;
				font-family: 'PT Sans Narrow', sans-serif;
				font-size: 16px;
				font-weight: bold;
			}
			&:hover img {
				opacity: 0.8;
			}
    	}
	}
}

.doctor {
	background: #ffffff;
	color: #000000;
	padding: 35px;
	background-image:  url("../img/doctor.png"), url("../img/bg_doctor.png");
	background-position:  right top, right bottom;
	background-repeat: no-repeat, no-repeat;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: -30px 10px 25px 10px;
	h4 {
		font-size: 48px;
		font-family: 'PT Sans Narrow', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 10px;
		span {
			color: $accent;
		}
	}
	p {
		max-width: 570px;
		font-size: 16px;
		font-family: 'PT Sans Narrow', sans-serif;
	}
	.sign {
		max-width: 500px;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: space-between;
    	-ms-flex-pack: justify;
    	justify-content: space-between;
    	-webkit-align-items: center;
    	-ms-flex-align: center;
    	align-items: center;
    	-webkit-flex-wrap: wrap;
	  -ms-flex-wrap: wrap;
	  flex-wrap: wrap;
    	font-family: 'PT Sans', sans-serif;
    	font-weight: bold;
	}
}