* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: 'PT Sans', sans-serif;
}

header {
	margin-top: 40px;
	text-align: center;
}

.container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

.container .header_top {
	border-bottom: 1px solid black;
}

.container .header_top p {
	font-size: 27px;
	color: #18374b;
	margin: 10px 0 30px 30px;
}

.container .header_top p::after {
	content: '...';
	color: #18374b;
}

.container .header_bottom h1 {
	margin: 40px 0 30px 0;
	font-size: 34px;
	text-transform: uppercase;
	color: #ff621f;
}

.container .header_bottom p {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	padding: 0 15px;
} 

.container .header_bottom .btn {
	display: inline-block;
	margin: 45px 0;
	-webkit-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
}

.container .header_bottom a {
	background-color: #ff621f;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 30px;
	border-bottom: 5px solid #ff332a;
	padding: 20px 57px;
}

.container .header_bottom a:hover  {
	background-color: #ff332a;
	border-bottom: none
}

.container .header_bottom .btn:hover {
	-webkit-transform: translate3d(0, 5px, 0);
  	transform: translate3d(0, 5px, 0);
}

.blocks {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.block1 {
	background-color: #ff621f;
	width: 100%;
	max-width: 500px;
	text-align: center;
	padding: 35px 33px;
}

.block1 .block1_title {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.block1 .block1_title .calendar {
	max-width: 130px;
}

.block1 .block1_title .calendar .month {
	background-color: black;
	color: white;
	font-size: 22px;
	font-weight: bold;
	padding: 6px 37px;
}

.block1 .block1_title .calendar .day {
	background-color: white;
	color: #c2c2c2;
	font-size: 70px;
	font-weight: bold;
	padding: 5px 15px;
}

.block1 .block1_title .cal_description {
	color: white;
	text-align: left;
	margin-left: 30px;
	text-transform: uppercase;
	width: 100%;
}

.block1 .block1_title .cal_description p {
	font-size: 30px;
}

.block1 .block1_title .cal_description .data {
	padding: 9px 0;
	border-bottom: 2px dashed white;
}

.block1 .block1_title .cal_description .time {
	padding: 9px 0;
}

.block1 .speaker {
	margin: 40px 0 30px 0;
	color: white;
}

.block1 .speaker img {
	border-radius: 50%;
	border: 8px solid white;
}

.block1 .speaker h5 {
	font-family: 'Georgia', sans-serif;
	margin: 15px;
	font-size: 20px;
}

.block1 .speaker h4 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
}

.block1 .speaker .speaker_description {
	text-align: left;
	padding: 20px 40px;
	font-size: 17px;
}

.block1 .speaker .speaker_description ul li {
	padding: 12px 5px;
}

.block2 {
	background-color: #eaeaea;
	width: 100%;
	max-width: 500px;
	text-align: center;
	padding: 35px 33px;
}

.block2 .timer h4 {
	font-size: 20px;
	text-transform: uppercase;
}

.block2 .timer .clock {
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 25px 0px 15px 0;
    font-family: 'Circe', sans-serif;
}

.block2 .timer .clock .days, .hours, .minutes, .seconds {
	margin: 5px;
}

.block2 .timer .clock span {
	background-color: #2b2e35;
	border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    font-size: 48px;
    color: white;
    display: block;
    text-align: center;
    line-height: 65px;
    min-width: 65px;
	min-height: 65px;
}

.block2 .timer .clock p {
	display: inline-block;
	color: black;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
}

.block2. .timer .name .hours {
	margin-left: 10px;
}

.block2 .knowledge {
	text-align: left;
	margin: 30px 0;
	padding: 0 40px;
}

.block2 .title_knowledge h4 {
	font-size: 23px;
	text-transform: uppercase;
	margin: 45px 0;
	text-align: left;
}

.block2 .knowledge ul li {
	list-style-image: url(../img/check.png);
	font-size: 20px;
	padding: 16px;
}

.under_blocks {
	margin: 30px;
	text-align: center;
}

.under_blocks p {
	font-size: 24px;
	color: #2b2e35;
	max-width: 570px;
	margin: 25px auto;
	font-family: 'Georgia', sans-serif;	
}

.under_blocks p span {
	font-size: 30px;
	font-weight: bold;
}

.under_blocks .btn {
	display: inline-block;
	margin: 30px 0;
}

.under_blocks .btn a {
	background-color: #ff621f;
	text-decoration: none;
	color: white;
	font-size: 30px;
	padding: 7px 35px;
	font-weight: bold;
}

.under_blocks .btn a:hover {
	background-color: #ff332a;
}

.under_blocks h6 {
	font-size: 36px;
	font-weight: lighter;
	padding-bottom: 30px;
	border-bottom: 2px dotted #7a7b7e;
}

.main_text {
	padding: 20px 25px;
	background-image: url(../img/bg_3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main_text h2 {
	text-align: center;
	font-size: 36px;
}

.main_text p {
	margin: 20px 0;
	font-size: 22px;
	color: #2b2e35;
}

.collage {
	background-image: url(../img/collage_bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px 15px;
	position: relative;
}

.collage .collage_canvas img {
	position: relative;
	max-width: 100%;
	z-index: 99;
}

.bg_triangle1 {
	position: absolute;
	top: -9%;
	left: 2%;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #fafafa;
	transform: rotate(25deg);
	z-index: 5;
}

.bg_triangle2 {
	position: absolute;
	top: 80%;
	left: -1%;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #fafafa;
	transform: rotate(80deg);
	z-index: 1;
}

.bg_triangle3 {
	position: absolute;
	top: 80%;
	right: 2%;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 200px solid #fafafa;
	transform: rotate(17deg);
	z-index: 1;
}

.bg_triangle4 {
	position: absolute;
	top: -5%;
	right: 3%;
	width: 0;
	height: 0;
	border-left: 150px solid transparent;
	border-right: 150px solid transparent;
	border-bottom: 250px solid #fafafa;
	transform: rotate(17deg);
	z-index: 1;
}

footer {
	padding: 20px 10px;
	text-align: center;
}

footer p {
	text-align: left;
	font-size: 36px;
	z-index: 100;
}

footer .come {
	text-align: left;
	margin: 60px 0;
	font-size: 30px;
}

footer .btn {
	display: inline-block;
	margin: 45px 0;
	-webkit-transform: translate3d(0, 0, 0);
  	transform: translate3d(0, 0, 0);
}

footer .btn a {
	background-color: #ff621f;
	text-decoration: none;
	color: white;
	font-size: 48px;
	font-weight: bold;
	border-bottom: 5px solid #ff332a;
	padding: 25px 100px;
}

footer .btn a:hover  {
	background-color: #ff332a;
	border-bottom: none;
}

footer .btn:hover {
	-webkit-transform: translate3d(0, 5px, 0);
  	transform: translate3d(0, 5px, 0);
}

footer .social {
	margin: 50px;
}