/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.bg_triangle1, .bg_triangle2, .bg_triangle3, .bg_triangle4 {
		display: none;
	}
	footer .btn a {
		font-size: 35px;
		padding: 25px 50px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.blocks {
		margin: 0 15px;
	}

	.block2 .knowledge {
		padding: 0 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}

	.blocks {
	-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}

	.block1, .block2 {
		margin: 0 auto;
	}

	.block2 .knowledge ul li {
		padding: 12px 5px;
	}

	.blocks .block_item:nth-child(1) {
		-webkit-order: 2;
	    -ms-flex-order: 2;
	    order: 2;
	}
	.blocks .block_item:nth-child(2) {
		-webkit-order: 1;
	    -ms-flex-order: 1;
	    order: 1;
	}

	footer .btn a {
		font-size: 30px;
		padding: 15px 25px;
	}

}

@media only screen and (max-width : 630px) {
	
	.container .header_bottom a {
		font-size: 28px;
	}

	.block2 {
		padding-left: 65px;
	}

	.under_blocks h6 {
		font-size: 24px;
		}

	.main_text h2 {
		font-size: 25px;
	}
	footer p {
		font-size: 25px;
	}

	footer .come {
		font-size: 25px;
	}

	footer .btn a {
		font-size: 20px;
		padding: 15px 35px;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

@media only screen and (max-width : 340px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


@media screen and (min-width : 320px) and (max-width: 480px) {

}