html, body, div, p, h1, h2, h3, h4, h5, h6, a, span, img, ol, ul, li, form, input {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* end mini reset */
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table; }

.clearfix:after {
  clear: both; }

.ev-composition {
  margin: 40px auto;
  max-width: 1180px;
  padding: 0 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .ev-composition__product {
    display: block;
    /*margin: 150px 0 0;*/
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%); }
  .ev-composition__title {
    color: black;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin: 30px 0; }
  .ev-composition__list {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    padding: 20px 0;
    position: relative;
    padding-top: 30px; 
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;}
  .ev-composition__item {
    max-height: 60px;
    background-color: white;
    border: 1px solid #c8dfee;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    /*padding: 15px;*/
    padding: 5px 10px;
    margin-bottom: 10px;
    position: absolute;
    cursor: pointer;
    width: 349px;
    min-height: 60px;
    /*max-height: 60px;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all .3s;
    transition: all .3s; }
    /*.ev-composition__item:nth-child(odd) .ev-composition__item-btn {
      right: -14px; }
    .ev-composition__item:nth-child(odd) .ev-composition__item-description {
      margin-left: 30px; }
    .ev-composition__item:nth-child(even) {
      text-align: right;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .ev-composition__item:nth-child(even) .ev-composition__item-name {
        -webkit-box-ordinal-group: 0;
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1; }
      .ev-composition__item:nth-child(even) .ev-composition__item-btn {
        left: -14px; }
      .ev-composition__item:nth-child(even) .ev-composition__item-description {
        margin-right: 30px; }*/

/**/

/*.ev-composition__item:nth-child(1) .ev-composition__item-btn {
      right: -14px; }
.ev-composition__item:nth-child(2) .ev-composition__item-btn {
      right: -14px; }
.ev-composition__item:nth-child(3) .ev-composition__item-btn {
      right: -14px; }*/
/**/

    /*.ev-composition__item:first-child {
      left: 0;
      top: 0; }
    .ev-composition__item:nth-child(2) {
      right: 0;
      top: 0; }
    .ev-composition__item:nth-child(3) {
      left: 0;
      top: 117px; }
    .ev-composition__item:nth-child(4) {
      right: 0;
      top: 117px; }
    .ev-composition__item:nth-child(5) {
      left: 0;
      top: 234px; }
    .ev-composition__item:nth-child(6) {
      right: 0;
      top: 234px; }
    .ev-composition__item:nth-child(7) {
      left: 0;
      top: 351px; }
      .ev-composition__item:nth-child(8) {
      right: 0;
      top: 351px; }
      .ev-composition__item:nth-child(9) {
      left: 0;
      top: 468px; }
      .ev-composition__item:nth-child(10) {
      right: 0;
      top: 468px; }*/

      .formula_cream .ev-composition__item:nth-child(2) .ev-composition__item-btn, .formula_cream .ev-composition__item:nth-child(3) .ev-composition__item-btn, .formula_cream .ev-composition__item:nth-child(4) .ev-composition__item-btn, .formula_cream .ev-composition__item:nth-child(5) .ev-composition__item-btn, .formula_cream .ev-composition__item:nth-child(6) .ev-composition__item-btn     {
        right: -14px; 
      }
      .formula_powder .ev-composition__item:nth-child(2) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(3) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(4) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(5) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(6) .ev-composition__item-btn     {
        left: -14px; 
      }

      .formula_cream {
        max-width: 349px;
        text-align: center;
      }

      .formula_cream h3 {
        font-size: 26px;
        color: #d15a5f;
        font-weight: bold;
        position: relative;
      }

      .formula_cream h3:after {
        content: "";
        width: 41px;
        height: 42px;
        background: url(../img/circle_cream.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 30px;
      }

      .formula_powder .for_what {
        color: #757575;
        font-size: 17px;
        margin-top: 15px;
      }

      .formula_powder {
        max-width: 349px;
        text-align: center;
      }

      .formula_powder h3 {
        font-size: 26px;
        color: #4ca1d3;
        font-weight: bold;
        position: relative;
      }

      .formula_powder h3:after {
        content: "";
        width: 41px;
        height: 42px;
        background: url(../img/circle_powder.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: -49px;
      }

      .formula_cream .for_what {
        color: #757575;
        font-size: 17px;
        margin-top: 15px;
        margin-left: 30px;
      }

      /*.formula_cream_descr {
        position: absolute;
        top: 0;
        left: 0;
      }

      .formula_powder_descr {
        position: absolute;
        top: 0;
        right: 0;
      }*/

     /* .formula_cream .ev-composition__item:first-child {
        left: 0;
        top: 0; 
      }*/
      .formula_cream .ev-composition__item:nth-child(2) {
        left: 0;
        top: 120px; 
      }
      .formula_cream .ev-composition__item:nth-child(3) {
        left: 0;
        top: 190px; 
      }
      .formula_cream .ev-composition__item:nth-child(4) {
        left: 0;
        top: 260px; 
      }
      .formula_cream .ev-composition__item:nth-child(5) {
        left: 0;
        top: 330px; 
      }
      .formula_cream .ev-composition__item:nth-child(6) {
        left: 0;
        top: 400px; 
      }

      /*.formula_powder .ev-composition__item:first-child {
        right: 0;
        top: 0; 
      }*/
      .formula_powder .ev-composition__item:nth-child(2) {
        right: 0;
        top: 120px; 
      }
      .formula_powder .ev-composition__item:nth-child(3) {
        right: 0;
        top: 190px; 
      }
      .formula_powder .ev-composition__item:nth-child(4) {
        right: 0;
        top: 260px; 
      }
      .formula_powder .ev-composition__item:nth-child(5) {
        right: 0;
        top: 330px; 
      }
      .formula_powder .ev-composition__item:nth-child(6) {
        right: 0;
        top: 400px; 
      }


      .formula_powder .ev-composition__item-picture {
        margin: 1px 16px 0 22px;
      }



    .ev-composition__item.ev-composition__item-full_height {
      max-height: 200%;
      -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
      width: 47%;
      -webkit-transition: all .3s;
      transition: all .3s;
      z-index: 1; }
      .ev-composition__item.ev-composition__item-full_height .ev-composition__item-btn:before {
        display: none; }
      .ev-composition__item.ev-composition__item-full_height .ev-composition__item-description {
        max-height: 500px;
        -webkit-transition: all .9s;
        transition: all .9s; }
  .ev-composition__item-picture {
    width: 50px;
    margin: 6px 16px 0 5px; }
  .ev-composition__item-btn {
    top: 50%;
    transform: translate(0,-50%);
    width: 29px;
    height: 29px;
    background: -moz-linear-gradient(0deg, rgba(209,90,95,1) 0%, rgba(209,90,95,1) 16%, rgba(77,160,210,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(209,90,95,1)), color-stop(16%, rgba(209,90,95,1)), color-stop(100%, rgba(77,160,210,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(0deg, rgba(209,90,95,1) 0%, rgba(209,90,95,1) 16%, rgba(77,160,210,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(0deg, rgba(209,90,95,1) 0%, rgba(209,90,95,1) 16%, rgba(77,160,210,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(0deg, rgba(209,90,95,1) 0%, rgba(209,90,95,1) 16%, rgba(77,160,210,1) 100%); /* ie10+ */
  background: linear-gradient(90deg, rgba(209,90,95,1) 0%, rgba(209,90,95,1) 16%, rgba(77,160,210,1) 100%); /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d15a5f', endColorstr='#4da0d2',GradientType=1 ); /* ie6-9 */
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .ev-composition__item-btn:after, .ev-composition__item-btn:before {
      content: '';
      position: absolute;
      display: block;
      width: 10px;
      height: 2px;
      background: #fff;
      top: 13px;
      left: 10px; }
    .ev-composition__item-btn:before {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .ev-composition__item-name {
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    /*max-width: 150px; */}
  .ev-composition__item-description {
    text-align: left;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    overflow: hidden;
    max-height: 0;
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    -webkit-transition: all .3s;
    transition: all .3s;
    padding: 2px 25px; }

@media screen and (max-width: 1185px) {
  .ev-composition__product {
    max-width: 335px;
  }

  .ev-composition__item {
    width: 310px;
  }
}

@media screen and (max-width: 999px) {
  .ev-composition__product {
    display: none;
  }

  .ev-composition__item {
    width: 350px;
  }
  .ev-composition {
    max-width: 767px; }
  .ev-composition__item {
    /*min-height: 120px; }*/
    .ev-composition__item:nth-child(3) {
      left: 0;
      top: 135px; }
    .ev-composition__item:nth-child(4) {
      right: 0;
      top: 135px; }
    .ev-composition__item:nth-child(5) {
      left: 0;
      top: 270px; }
    .ev-composition__item:nth-child(6) {
      right: 0;
      top: 270px; } }

@media screen and (max-width: 767px) {

  .formula_powder .ev-composition__item:nth-child(2) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(3) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(4) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(5) .ev-composition__item-btn, .formula_powder .ev-composition__item:nth-child(6) .ev-composition__item-btn     {
        right: -14px;
        left: auto; 
    }
  .formula_powder .ev-composition__item-picture {
        margin: 6px 16px 0 5px;
  }
  .ev-composition__list {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }
  .ev-composition {
    max-width: 480px; }
  .ev-composition__product {
    width: 100%;
    max-width: 362px;
    position: static;
    margin-top: 20px; }
  .ev-composition__title {
    font-size: 30px; }
  .ev-composition__item {
    display: block;
    text-align: left !important;
    position: relative;
    width: 100%;
    left: auto !important;
    top: auto !important;
    right: auto !important;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 22px 22px 22px 109px; }
    .ev-composition__item.ev-composition__item-full_height {
      width: 100%; }
  .ev-composition__item-btn {
   /* right: 14px !important;
    top: 14px !important;
    left: auto !important;*/ }
  .ev-composition__item-picture {
    position: absolute;
    top: 0px;
    left: 15px; }
  .ev-composition__item-name {
    max-width: 300px; }
  .ev-composition__item-description {
    margin: 0 !important; }
    .ev-composition__item-description {
      padding: 2px 0;
      } }

@media screen and (max-width: 479px) {
  .ev-composition__item-name {
    font-size: 15px;
    text-align: left;
    padding-left: 55px;
  }
  .ev-composition__item-description {
    padding-top: 20px;
  }
  .ev-composition {
    max-width: 320px; }
    .ev-composition__product {
      max-width: 362px;
      height: 212px; }
    .ev-composition__title {
      font-size: 25px;
      line-height: 28px; }
    .ev-composition__item {
      padding: 22px;
      text-align: center !important; }
    .ev-composition__item-picture {
      /*position: static;
      display: block;
      margin: 0 auto;
      max-width: 180px;
      width: 100%;*/ } }
