@media screen and (max-width: 1330px) {

.experts_slider_wrap {
	max-width: 950px;
	width: 100%;
	margin: 0 auto;
}

.slick-next {
	right: -18px;
	top: 15px;
}

.slick-prev {
	left: -18px;
	top: 15px;
}

.expert_item {
	/*width: 230px !important;*/
}

.expert_position {
	width: 100%;
	font-size: 13px;
}

.slider-for {
	max-width: 949px;
}

}

@media screen and (max-width: 1225px) {

.doctor_img {
    position: absolute;
    bottom: -5px;
    left: 2px;
    max-width: 300px;
}

}

@media screen and (max-width: 1185px) {

	.header_top {
		justify-content: space-around;
	}

	.header_top_item p {
		font-size: 16px;
	}

	.header_top_item {
		margin-right: 0 !important;
	}

	.header_main {
		-webkit-background-size: 45%;
		background-size: 45%;
	}

	.header_main_wrap .img_left {
		left: 28%;
	}

	.header_main_wrap .img_right {
		right: 27%;
	}

	.header_main_wrap .img_sale {
		right: 46%;
	}

	.slider_3d .slide_3d_overlay .period {
		font-size: 20px;
	}

	section h2 {
		font-size: 37px;
		line-height: 37px;
	}

	.stat_list_item:nth-child(2), .advantage_list_item:nth-child(2) {
		margin: 0;
	}

	.stat_list, .advantage_list {
		justify-content: space-around;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.section3_first {
		padding-bottom: 50px;
	}

	.section3_second {
	    padding-top: 30px;
	}

	.stat_list_item, .advantage_list_item {
		margin: 10px !important;
	}

	.main_description_img {
		max-width: 345px;
	}

	.main_description_cream ul li, .main_description_powder ul li {
		font-size: 16px
	}

	.main_description_powder h3:before {
		left: 3px;
	}

	.circle_arrow_left, .circle_arrow_right {
		top: 15px;
	}

	.main_description {
		padding: 40px 59px;
	}

	.order_cream_decr h3 br, .order_powder_decr h3 br {
		display: block;
	}

	.order_cream, .order_powder {
		padding: 60px 12px 49px;
	}

	.order_cream_top {
	    left: 15%;
	}

	.order_powder_top {
	    right: 15%;
	}

	.order_form {
		margin: 0 15px;
	}

	.doctor_img {
		max-width: 230px;
		left: 3px;
	}

	.doctor {
		min-width: 364px;
	}

	.doctor_descr {
		right: -59px;
		padding: 13px 0;
	}

	.doctor_descr p {
		font-size: 14px;
	}

	.doctor {
		margin-right: 65px;
	}

	.main_graph_img {
		width: 270px;
	}

	.main_graph_first .main_graph_img img {
		left: -5px;
	}
	.main_graph_second .main_graph_img img {
		left: -5px;
	}
	.main_graph_third .main_graph_img img {
		left: -5px;
	}

	.main_graph_desr p {
		font-size: 14px;
	}

	.main_graph_img img {
		max-width: 260px;
	}

	.main_graph_desr {
		padding-left: 10px;
	}

	.main_graph_item:after {
		left: -10px;
	}

	.main_save_right form {
		min-width: 330px;
	}

	.main_save_left {
		max-width: 300px;
	}

	.main_save_mid {
		margin: 0px 20px 0 20px;
	}

	.main_save {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.main_save_left .save_sale {
    position: absolute;
    top: -26px;
    left: 130px;
}

.diagram_list_item:nth-child(2) {
    margin: 0 165px 0 165px;
}

	.review_item_line::before, .review_item_line::after {
		width: 100px;
	}

	.video_reviews {
		justify-content: space-around;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.video_item:nth-child(2) {
		margin: 0;
	}

	.video_item {
		padding: 8px;
	}

	.audio-reviews-items {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-align-items: center;
		align-items: center;
	}

	.audio-reviews-item {
		margin-bottom: 15px;
	}

	.how_use_cream_wrap {
		margin-right: 0;
	}

	.how_use {
		justify-content: space-around;
	}

	.facts_left p br {
		display: none;
	}

	.facts_left p {
		max-width: 700px;
	}

	.facts {
		padding: 90px 10px 0;
	}

	.facts_left h3 {
		font-size: 32px;
	}

	.formula_cream_descr {
		margin-left: 25px;
	}


}

@media screen and (max-width: 999px) {

	section h2 {
		font-size: 30px;
		line-height: 30px;
		padding: 0 10px;
	}

	.formula_cream_descr {
		margin-left: 45px;
	}

	.header_main_wrap .img_sale, .header_arrow_left, .header_arrow_right {
		display: none;
	}

	.header_main_wrap .img_right, .header_main_wrap .img_left {
		position: static;
		max-width: 200px;
		margin: 0 auto;
	}

	.header_main_wrap h1, .section15 h1 {
		font-size: 45px;
	}

	.under_h1 {
		font-size: 25px;
	}

	.header_main {
		background: none;
	}

	.header_main {
		justify-content: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}

	.header_main_left {
		margin-right: 100px;
	}

	.header_top {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-bottom: 30px;
	}

	.header_top_item:nth-child(3) {
		-ms-flex-order: -1;
		order: -1;
		width: 100%;
		margin-bottom: 10px;
	}	

	.header_top_item:nth-child(3) img {
		margin: 0 auto;
	}

	header {
		padding-bottom: 50px;
	}

	.section2 {
		padding-top: 50px;
	}

	.order_sale {
		position: static;
		transform: translate(0,0);
	}

	.slider_3d .slide_3d_overlay .period {
		font-size: 17px;
	}

	.slider_3d .slick-slide img {
		min-height: 260px;
	}

	.shok_btn {
		max-width: 200px;
		height: 60px;
		line-height: 60px;
		margin: 20px auto 25px;
		font-size: 18px;
	}

	.slider_3d .slide_3d_overlay .period {
		padding: 5px 20px;
	}

	.slick-dots {
		bottom: 10px;
	}

	.section2 {
		padding-bottom: 50px;
	}

	section .under {
		font-size: 16px;
	}

	.stat_list_item p {
		margin-top: 15px;
	}

	.advantage_list_item span {
		font-size: 19px;
		margin: 5px 0 10px;
	}

	.advantage_list_item p {
    font-size: 17px;
    line-height: 22px;
	}

	.section3_second h2 br {
		display: none;
	}

	.main_description_img {
		display: none;
	}

	.description_cream_img, .description_powder_img {
		display: block;
	}

	.main_description {
		justify-content: space-around;
	}

	.description_cream_img {
		margin-left: 60px;
	}

	.description_powder_img {
		margin-left: 160px;
	}

	.main_description_cream h3, .main_description_powder h3 {
		font-size: 22px;
		min-height: 78px;
	}

	.main_description_powder h3:before {
	    left: 22px;
	}

	.order_list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.order_list_item:nth-child(2) {
		-ms-flex-order: 1;
		order: 1;
	}

	.order_cream {
		margin-top: 30px;
	}

	.order_powder {
		margin-top: 90px;
	}

	.order_form {
		margin-top: 20px;
	}

	.order_cream_top {
	    left: 21%;
	}
	.order_powder_top {
	    right: 21%;
	}

	.order_powder_price {
		-ms-flex-order: 2;
		order: 2;
	}

	.order_powder_img {
		margin-left: 0;
		margin-right: 17px;
	}

	.header_main_right ul li:before {
		top: -3px;
	}

	.after_course {
		background: none;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content: center;
	}

	.circle_items {
		position: relative;
		top: 0 !important;
		left: 0 !important;
		min-width: 300px;
	}
	.circle_items:nth-child(1):before, .circle_items:nth-child(2):before, .circle_items:nth-child(3):before, .circle_items:nth-child(4):before, .circle_items:nth-child(5):before, .circle_items:nth-child(6):before, .circle_items:nth-child(7):before, .circle_items:nth-child(8):before {
		left: 52px;
	}

	.circle_items {
		margin-top: 20px;
	}

	.revolution {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.doctor {
		margin: 120px auto 20px;
	}

	.doctor_descr p br {
		display: none;
	}

	.doctor_img {
		max-width: 100%;
		left: 11px;
	}

	.doctor_descr {
	    right: auto;
	    top: -170px;
	    left: auto;
	}

	.doctor:after {
		display: none;
	}

	.main_graph_item:after {
		width: 91%;
	}

	.main_save_right {
		margin-top: 20px;
	}

	.main_save_mid ul li {
		margin-bottom: 30px;
	}

	.diagram_left, .diagram_mid, .diagram_right {
		display: none;
	}

	.diagram_list_item:nth-child(2) {
		margin: 0;
	}

	.diagram_list {
		justify-content: space-around;
	}

	.diagram_wrap {
    margin: 40px auto 20px;
   }

   .research br {
   	display: none;
   }

   .expert_img {
   	margin: 70px auto 0;
   	max-width: 300px;
   }

   .expert_descr {
   	text-align: center;
   	padding-left: 0;
   	max-width: 550px;
   	margin: 0 auto;
   	border-radius: 10px 10px 0 0;
   }

   .slider-for {
   	max-width: 550px;
   	margin: 0 auto;
   	text-align: center;
   	padding-top: 15px;
   	padding-bottom: 15px;
   }

   .expert_item:last-child .expert_img {
			margin: 70px auto 0;
   }

   .expert_position {
   	font-size: 15px;
   }

   .slick-prev {
	    left: 53px;
	    top: -45px;
	    box-shadow: none;
	}

   .slick-next {
	    right: 53px;
	    top: -45px;
	    box-shadow: none;
	}

	.expert_descr {
		border-left: 1px solid #c8dfee;
		border-right: 1px solid #c8dfee;
	}

	.main_review {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		margin-top: 0;
	}

	.review_item {
		margin-bottom: 25px;
	}

	.review_item:nth-child(2) {
		margin: 0 auto;
	}

	.review_item {
		padding: 50px 10px 30px 10px;
	}

	.video_reviews {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.video_item {
		margin: 10px 0;
	}

	.how_use {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.how_use_powder_wrap {
		margin-top: 25px;
	}

	.how_use_after {
		margin-top: 10px;
	}

	.how_to_order_item {
		margin: 0 52px;
	}

	.how_to_order_img {
		width: 180px;
		height: 180px;
	}

	.how_to_order_item:after {
		right: -97px;
	}
	.how_to_order_item p {
		font-size: 17px;
	}

	.under_order {
		margin-bottom: 40px;
	}

	.facts_left h3 {
    font-size: 24px;
    line-height: 26px;	
	}

	.facts_left p {
		font-size: 16px;
		line-height: 20px;
	}

	.facts {
		padding: 30px 10px 0;
	}


}

@media screen and (max-width: 767px) {

	.header_main_wrap h1, .section15 h1 {
		font-size: 38px;
	}

	.under_h1 {
		font-size: 21px;
	}

	.header_top_item:nth-child(1), .header_top_item:nth-child(2), .header_top_item:nth-child(4), .header_top_item:nth-child(5) {
		display: none;
	} 

	.header_main_left {
		margin-right: 30px;
	}
	
	.slider_3d .slick-current img {
		transform: scale(1,1);
	}

	.slide_3d {
		padding: 0;
	}

	.slider_3d .slick-prev {
		left: -1%;
	}

	.slider_3d .slick-next {
		right: -1px;
	}

	.slider_3d .slide_3d_overlay {
		padding-top: 70px;
		left: 0;
		width: 100%;
		background-position: center 30px;
	}

	.img_no_blur {
		top: 0;
	}

	.slider_3d .slide_3d_overlay .period {
		font-size: 15px;
	}
	.slider_3d .slide_3d_overlay .standing {
		font-size: 13px;
	}

	.shok_btn {
	    max-width: 170px;
	    height: 50px;
	    line-height: 50px;
	    margin: 20px auto 25px;
	    font-size: 18px;
	}

	.slider_wrap_3d {
		padding: 0 30px;
	}

	section h2 {
		font-size: 25px;
		line-height: 25px;
	}

	.section3 {
		padding: 40px 0;
	}

		.main_description {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
			-ms-align-items: center;
			align-items: center;
		}

		.main_description_powder {
			text-align: left;
		}

		.main_description_powder {
			margin-top: 30px;
		}

		.main_description_powder h3:before {
	    left: -32px;
	}

	.description_powder_img {
		margin-left: 60px;
	}

	.main_description_powder ul li:before {
		left: -25px;
	}

	.main_description_cream ul li, .main_description_powder ul li {
		margin-top: 15px;
	}

	.main_description_cream ul li br, .main_description_powder ul li br {
		display: none;
	}

	.main_description_cream ul, .main_description_powder ul {
		padding-left: 35px;
		max-width: 500px;
		margin: 0 auto;
	}

	.main_description_cream h3, .main_description_powder h3 {
		text-align: center;
		padding: 0 17px;
		font-size: 20px;
		line-height: 20px;
	}

	.description_cream_img, .description_powder_img {
		margin: 0 auto 10px;
	}

	.main_description {
		padding: 15px;
		margin: 50px auto 0;
		max-width: 530px;
	}

	.section4, .section5, .section6, .section7, .section9, .section10, .section11, .section12, .section13, .section14 {
		padding: 40px 0;
	}

	.section15 {
		padding: 20px 0 40px;
	}

	.section8 {
		padding: 40px 0 80px;
	}

	.ev-composition {
		margin: 0 auto;
	}

	section h2 br {
		display: none;
	}

	.formula_cream_descr {
		margin-left: 0;
		margin-bottom: 20px;
	}

	.formula_cream h3:after {
			right: 85px;
	}

	.formula_powder_descr {
		margin-right: 0;
		margin-bottom: 20px;
		margin-top: 20px;
	}

	.formula_powder h3:after {
		left: 50px;
	}

	.formula_cream .for_what, .formula_powder .for_what {
		margin-top: 5px;
	}

    .under_formula {
			font-size: 16px;
			line-height: 16px;
		}

		.under_formula br {
			display: none;
		}

		.main_graph_item {
			-webkit-flex-direction: column;
			-moz-flex-direction: column;
			-ms-flex-direction: column;
			-o-flex-direction: column;
			flex-direction: column;
		}

		.main_graph:after {
			left: 7%;
			display: none;
		}

		.main_graph_img {
	    width: 280px;
	}

	.main_graph {
		min-width: 364px;
	}

	.main_graph_item:after {
		width: 80%;
	}

	.main_graph_second .main_graph_img span:nth-child(2) {
		display: block;
	}
	.main_graph_third .main_graph_img span:nth-child(2) {
		display: block;
	}

	.main_save {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.main_save_mid {
		order: -1;
		margin-bottom: 20px;
	}

	.diagram_list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.diagram_list_item {
		margin: 20px 0 !important;
	}

	.under_main_review {
		margin-top: 20px;
	}

	.how_use_cream_text ul li, .how_use_powder_text ul li {
		margin-bottom: 20px;
		font-size: 16px;
	}

	.how_use_after {
		text-align: center;
	}

	.how_to_order_item:after {
		display: none;
	}

	.how_to_order {
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.how_to_order_item {
		margin-bottom: 20px;
	}

	.under_order {
		margin: 30px auto;
	}

	.facts {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.facts_right {
		margin-top: 20px;
		max-width: 400px;
	}

	.facts_left h3 {
		font-size: 26px;
		text-align: center;
	}

	.main_save {
		margin-top: 15px;
	}

	.footer_mid p, .footer_right {
		display: none;
	}

	.footer_list {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}

	.logo_name {
		display: none;
	}

	.footer_left {
		margin-bottom: 13px;
	}

	footer {
		padding: 20px 0;
	}

	.popup {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		padding: 20px 10px;
	}

	.popup_left {
	    max-width: 230px;
	    width: 230px;
	    margin-right: 0px;
	    margin-bottom: 15px; 
	}

	.popup_sale {
		top: -4px;
    left: 102px;
    max-width: 60px;
	}

	.popup-block-first,
    .popup-block-second {
        width: 470px;
        left: calc(50% - 235px)
    }

    .popup-block-second {
        padding: 30px 40px
    }

    .main_graph_desr p {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
	.shok_btn {
	    max-width: 170px;
	    height: 50px;
	    line-height: 50px;
	    margin: 15px auto 10px;
	    font-size: 18px;
	}

	.slider_wrap_3d {
		padding: 0 5px;
	}
}

@media screen and (max-width: 550px) {
	
	.header_main {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.header_main_left h3, .header_main_right h3 {
		text-align: center;
	}

	.header_main_left p, .header_main_right p {
		text-align: center;
	}

	.header_main_left ul li {
		text-align: left;
		padding-right: 0;
		padding-left: 55px;
	}

	.header_main_left ul li:before {
		left: 0;
	}

	.header_main_right {
		margin-top: 20px;
	}


	.header_main_left {
		margin-right: 0;
	}

}

@media screen and (max-width: 479px) {

	.formula_cream h3:after {
			right: 65px;
		}
	.formula_powder h3:after {
			left: 30px;
		}

	.header_main_wrap h1, .section15 h1 {
	    font-size: 33px;
	    line-height: 33px;
	}

	.under_h1 {
	    font-size: 16px;
	    margin-top: 10px;
	}

	.slider_3d .slide_3d_overlay .period {
		font-size: 14px;
		line-height: 14px;
	}

	.shok_btn {
	    max-width: 140px;
	    height: 40px;
	    line-height: 40px;
	    margin: 15px auto 20px;
	    font-size: 16px;
	}

	section h2 {
		font-size: 23px;
		line-height: 23px;
	}

	.advantage_list_item br {
		display: none;
	}

	.advantage_list_item p {
		max-width: 302px;
	}

	.main_description_cream ul li, .main_description_powder ul li {
		line-height: 16px;
	}

	.order_cream, .order_powder, .order_form form {
		width: 300px;
	}

	.order_cream_top {
	    left: 14%;
	}
	.order_powder_top {
	    right: 14%;
	}

	.order_form form {
		padding: 22px 15px;
	}

	.main_graph {
		min-width: 300px;
	}

	.doctor {
		min-width: 300px;
		min-height: 359px;
	}

	.doctor_img {
	    max-width: 96%;
	    left: 6px;
	}

	.main_save_right form {
		width: auto;
		min-width: 300px;
		padding: 20px 10px;
	}

	.slick-prev {
		left: 5px;
	}

	.slick-next {
		right: 5px;
	}

	.video_audio_btn {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;	
	}

	.audio_btn {
		margin-top: 15px;
	}

	.video_item {
		padding: 5px;
	}

	.video_item p {
		margin-top: 10px;
	}

	.audiojs {
		max-width: 300px;
	}

	.audiojs .scrubber {
		width: 198px;
	}

	.audio-reviews-title {
		font-size: 13px;
		left: 34px;
	}

	.how_use_cream, .how_use_powder {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.how_use_cream_img, .how_use_powder_img {
		max-width: 150px;
		margin-bottom: 15px;
	}

	.how_use_cream_text h4, .how_use_powder_text h4, .for_what_use {
		text-align: center;
	}


	.how_use {
		margin-top: 25px;
	}

	.main_save_mid ul li br {
		display: none;
	}

	.main_save_mid h3 {
		font-size: 21px;
	}

	.how_use_cream_img, .how_use_powder_img {
		margin-right: 0;
	}

	.popup-block-first,
    .popup-block-second {
        width: 300px;
        left: calc(50% - 150px)
    }
    .popup-block-second {
        padding: 0 30px
    }

    .popup-p {
    	font-size: 16px;
    	line-height: 21px;
    }

}