$main: #16a085;
$white: #ffffff;

* {
	box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
	display: block:
}

body {
	padding: 0;
	margin: 0;
	background-color: $white;
	color: $white;
	font-family: 'Lato', sans-serif;
}

header {
	background-image: url("../img/banner_bg.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    .container {
    	position: relative;
    	max-width: 1024px;
    	height: 100%;
    	margin: 0 auto;
    	.fw {
    		height: 100%;
	    	display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    .top_menu {
		    	margin-top: 40px;
		    	.mobile_top {
		    		width: 80vw;
		    		display: none;
		    		.mobile_logo {	
			    	}
			    	.menu_trigger{
						font-size: 25px;
						color: $white;
					}
		    	}
			    ul {
			    	/*height: 60px;*/
			    	display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
			    	-webkit-flex-direction: row;
				    -ms-flex-direction: row;
				    flex-direction: row;
					-webkit-justify-content: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    -webkit-align-items: center;
				    -ms-flex-align: center;
				    align-items: center;
			    	li {
			    		/*display: inline-block;
			    		vertical-align: middle;*/
			    		padding: 0px 50px;
			    		list-style-type: none;
			    		a {
			    			text-decoration: none;
			    			color: $white;
			    			text-transform: uppercase;
			    			font-size: 14px;
			    			font-weight: bold;
			    			&::after {
								content: '';
								display: block;
								padding-top: 2px;
								border-bottom: 3px solid #b2d5ce;
								width: 0;
								-webkit-box-shadow: 7px 7px 22px 0px $white;
								-moz-box-shadow: 7px 7px 22px 0px $white;
								box-shadow: 7px 7px 22px 0px $white;
								-webkit-transition: .5s;
								   -moz-transition: .5s;
								     -o-transition: .5s;
								        transition: .5s;
							}
							&:hover::after {
								width: 100%;
							}
							&:hover {
								color: #b2d5ce;
							}
			    		}
			    	}
				}
		    }
		    .title {		
				   text-align: center;
		    	h1 {
		    		font-size: 45px;
		    		text-transform: uppercase;
		    		font-family: 'Baloo Bhaijaan', cursive;
		    	}
		    	p {
		    		font-size: 18px;
		    	}
		    	.btn {
		    		display: inline-block;
		    		margin: 15px 0;
		    		a {
		    			font-size: 13px;
		    			color: $white;
		    			text-transform: uppercase;
		    			padding: 15px 35px;
		    			background-color: $main;
		    			text-decoration: none;
		    			border-radius: 5px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-webkit-transition: 0.5s;
				        -moz-transition: 0.5s;
				        -o-transition: 0.5s;
				        transition: 0.5s;
				        &:hover {
				        	background-color: #95afaa;
				        	-webkit-box-shadow: 7px 7px 22px 0px $white;
							-moz-box-shadow: 7px 7px 22px 0px $white;
							box-shadow: 7px 7px 22px 0px $white;
				        }

		    		}
		    	}
		    }
		    .social {
		    	margin: 15px;
		    	a {
		    		padding: 7px;
		    		text-decoration: none;
		    		color: $white;
		    		font-size: 20px;
		    	}
		    } 
    	}
    }
}
.second {
	background-color: #e7ebef;
	.container {
		position: relative;
    	max-width: 1024px;
    	height: 100%;
    	margin: 0 auto;
    	.rapresent {
    		background-image: url("../img/section2_bg.png");
    		background-repeat: no-repeat;
		    background-position: bottom right;
		    padding: 80px 0px;
		    h4 {
		    	font-size: 18px;
		    	text-transform: uppercase;
		    	color: $main;
		    	padding: 0 10px;
		    	letter-spacing: 2px;
		    	font-weight: bold;
		    }
		    p {
		    	max-width: 430px;
		    	color: #767777;
		    	padding: 50px 10px;
		    	font-family: 'Baloo Bhaijaan', cursive;
		    }
		    .btn {
		    		display: inline-block;
		    		padding: 15px 10px;
		    		a {
		    			font-size: 13px;
		    			color: $white;
		    			text-transform: uppercase;
		    			padding: 15px 35px;
		    			background-color: $main;
		    			text-decoration: none;
		    			border-radius: 5px;
						-moz-border-radius: 5px;
						-webkit-border-radius: 5px;
						-webkit-transition: 0.5s;
				        -moz-transition: 0.5s;
				        -o-transition: 0.5s;
				        transition: 0.5s;
				        &:hover {
				        	background-color: #95afaa;
				        	-webkit-box-shadow: 7px 7px 22px 0px $white;
							-moz-box-shadow: 7px 7px 22px 0px $white;
							box-shadow: 7px 7px 22px 0px $white;
				        }

		    		}
		    	}
    	}
	}
}
.third {
	background-color: #c5c8cc;
	padding: 100px 10px;
	.container {
		position: relative;
    	max-width: 1024px;
    	height: 100%;
    	margin: 0 auto;
    	.line {
    		display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
			-ms-flex-direction: row;
			flex-direction: row;
			-webkit-justify-content: center;
			-ms-flex-pack: center;
			justify-content: center;
			-webkit-align-items: center;
			-ms-flex-align: center;
			align-items: center;
			.line_title {
				text-align: center;
				color: black;
				padding: 10px 30px;
				min-width: 300px;
				h5 {
					font-size: 18px;
					padding: 15px;
				}
				p {
					font-size: 17px;
					margin-bottom: 20px;
				}
			}			
			.slider, .slick-initialized, .slick-slider {
				min-height: 240px;
				max-width: 700px;
				width: 100%;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: row;
				-ms-flex-direction: row;
				flex-direction: row;
				-webkit-justify-content: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-align-items: center;
			    -ms-flex-align: center;
				align-items: center; 
				.fa-chevron-left {
					color: black;
					font-size: 20px;
					position: absolute;
					top: -9%;
					right: 7%;
					cursor: pointer;
				}
				.fa-chevron-right {
					color: black;
					font-size: 20px;
					position: absolute;
					top: -9%;
					right: 2%;
					cursor: pointer;
				}
				.slide {
					margin: 0 10px;
					outline: none;
					img {
						max-width: 100%;
						margin: 0 auto;			
					}
				}
			}
    	}
	}
}
.fourth {
	background-image: url("../img/subscribe_bg.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    .container {
    	position: relative;
    	max-width: 1024px;
    	height: 100%;
    	margin: 0 auto;
    	.subscribe {
    		height: 100%;
	    	display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		    flex-direction: column;
		    -webkit-justify-content: center;
		    -ms-flex-pack: justify;
		    justify-content: center;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    h3 {
		    	font-size: 32px;
		    	text-transform: uppercase;
		    	padding: 20px;
		    	letter-spacing: 3px;
		    	text-align: center;
		    }
		    .form {
		    	display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
			    -webkit-justify-content: center;
			    -ms-flex-pack: justify;
			    justify-content: center;
			    -webkit-align-items: center;
			    -ms-flex-align: center;
			    align-items: center;
			    	input {
			    		width: 270px;
			    		height: 60px;
			    		border-radius: 5px 0px 0px 5px;
						-moz-border-radius: 5px 0px 0px 5px;
						-webkit-border-radius: 5px 0px 0px 5px;
						outline: none;
						border: none;
						font-size: 14px;
						padding: 0px 20px;
						text-transform: uppercase;
						color: #000;
					}
				    button {
					    height: 60px;
					    width: 60px;
					    background-color: $main;
					    border: none;
					    outline: none;
					    border-radius: 0px 5px 5px 0px;
						-moz-border-radius: 0px 5px 5px 0px;
						-webkit-border-radius: 0px 5px 5px 0px;
						cursor: pointer;
					    .fa {
					    	color: $white;
					    	font-size: 20px;
					    	-webkit-transition: 0.5s;
					        -moz-transition: 0.5s;
					        -o-transition: 0.5s;
					        transition: 0.5s;
					        @-webkit-keyframes updown {
							  15% {
							    -webkit-transform: translateY(7px);
							    transform: translateY(7px);
							  }
							  30% {
							    -webkit-transform: translateY(-7px);
							    transform: translateY(-7px);
							  }
							  40% {
							    -webkit-transform: translateY(5px);
							    transform: translateY(5px);
							  }
							  50% {
							    -webkit-transform: translateY(-5px);
							    transform: translateY(-5px);
							  }
							  65% {
							    -webkit-transform: translateY(2px);
							    transform: translateY(2px);
							  }
							  100% {
							    -webkit-transform: translateY(0);
							    transform: translateY(0);
							  }
							}
							@keyframes updown {
							  15% {
							    -webkit-transform: translateY(7px);
							    transform: translateY(7px);
							  }
							  30% {
							    -webkit-transform: translateY(-7px);
							    transform: translateY(-7px);
							  }
							  40% {
							    -webkit-transform: translateY(5px);
							    transform: translateY(5px);
							  }
							  50% {
							    -webkit-transform: translateY(-5px);
							    transform: translateY(-5px);
							  }
							  65% {
							    -webkit-transform: translateY(2px);
							    transform: translateY(2px);
							  }
							  100% {
							    -webkit-transform: translateY(0);
							    transform: translateY(0);
							  }
							}
					    }
					    &:hover .fa {
					    	-webkit-animation: updown 0.6s ease;
							animation: updown 0.6s ease;
							-webkit-animation-iteration-count: 1;
							animation-iteration-count: 1;
					    }

					}
			    	
			    }
		}
    }
}

.fifth {
	background-color: #e7ebef;
	text-align: center;
	padding: 100px 0;
	color: black;
	.container {
		position: relative;
    	max-width: 1024px;
    	height: 100%;
    	margin: 0 auto;
    	h3 {
    		font-size: 20px;
    		text-transform: uppercase;
    		letter-spacing: 2px;
    	}
    	p {
    		font-size: 17px;
    		padding: 20px 80px;
    	}
    	.store {
    		display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-justify-content: center;
		    -ms-flex-pack: justify;
		    justify-content: center;
		    -webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		    -webkit-align-items: center;
		    -ms-flex-align: center;
		    align-items: center;
		    .apple, .android {
		    	display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-flex-direction: row;
			    -ms-flex-direction: row;
			    flex-direction: row;
			    margin: 15px 15px;
		    	.store_title {
				    text-transform: uppercase;
				    color: $white;
				    font-size: 16px;
				    background-color: #1abc9c;
				    padding: 15px 70px 15px 15px;
				    border-radius: 5px 0 0 5px;
					-moz-border-radius: 5px 0 0 5px;
					-webkit-border-radius: 5px 0 0 5px;
					min-width: 220px;
				    }
			    }
			    .store_logo {
				    color: $white;
				    font-size: 25px;
				    background-color: $main;
				    padding: 10px 15px;
				    border-radius: 0 5px 5px 0;
					-moz-border-radius: 0 5px 5px 0;
					-webkit-border-radius: 0 5px 5px 0;
					.fa {
						-webkit-transition: .5s;
						   -moz-transition: .5s;
							 -o-transition: .5s;
								transition: .5s;
					}
					&:hover  .fa {
						-webkit-transform: rotateZ(360deg);
							-ms-transform: rotateZ(360deg);
							    transform: rotateZ(360deg);
					}
			    }
		    }
	}
}
footer {
	padding: 10px 0;
	.container {
		position: relative;
    	max-width: 1024px;
    	height: 100%;
    	margin: 0 auto;
    	padding: 0 20px;
    	.bottom {
    		color: #000;
    		display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-direction: row;
		    -ms-flex-direction: row;
		    flex-direction: row;
		    -webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		    .bottom_menu {
		    	ul{
		    		margin: 5px 0;
		    		li {
		    			list-style-type: none;
		    			display: inline-block;
		    			padding-right: 5px;
		    			font-size: 12px;
		    			&::after {
			    			content: '';
			    			border-right: 2px solid $main;
			    			padding: 0 5px;
			    		}
			    		&:last-child::after {
			    			border-right: none;
			    		}
		    			a {
		    				color: black;
		    				font-size: 12px;
		    				font-weight: bold;
		    				text-decoration: none;
		    				text-transform: uppercase;
		    				&:hover {
		    					color: $main;
		    				}
		    			}
		    		}
		    	}
		    	span {
		    		font-size: 14px;
		    		font-weight: bold;
		    	}
		    }
    	}
	}
}