* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

ul {
	list-style-type: none;
}

img {
	max-width: 100%;
}

.normafeet {
	color: #ca2b43;
}

.container {
	width: auto;
	max-width: 1177px;
	margin: 0 auto;
	position: relative;
	padding: 0 5px;
}

header {
	background: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 80px;
}

.header_right {
	padding-left: 601px;
}

h1 {
	font-size: 80px;
	font-weight: 900;
	padding-top: 46px;
	line-height: 94px;
}

.under_h1 {
	font-size: 25px;
	max-width: 495px;
	line-height: 28px;
}

/*.header_wrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}*/

/*.header_left{
	width: 601px;
}*/

.header_list {
	margin-top: 56px;
}

.header_list li {
	margin: 48px 0;
	position: relative;
}

.header_list_main {
	font-size: 20px;
	font-weight: 500;
	position: relative;
}

.header_list_main::before {
	content: "";
	width: 25px;
	height: 3px;
	background: #ca2b43;
	position: absolute;
	top: -15px;
	left: 0;
}

.header_list_under {
	font-size: 18px;
	color: #666666;
	font-style: italic;
	margin-top: 4px;
}

.header_bullet {
	position: absolute;
	top: 20%;
	left: -110px;
	background: #ca2b43;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	text-align: center;
	line-height: 27px;
	/*display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;*/
	color: #ffffff;
	font-size: 25px;
	z-index: 10;

	-webkit-box-shadow: 0 0 0 6px #ffffff, 0 0 0 7px #e0dfdf;
  box-shadow: 0 0 0 6px #ffffff, 0 0 0 7px #e0dfdf;
}

.header_list li:nth-child(1) .header_bullet {
	background: #ca2b43;
}

.header_list li:nth-child(2) .header_bullet{
	background: #f2af63;
	left: -84px;
}

.header_list li:nth-child(3) .header_bullet{
	background: #497d2d;
}

.header_bullet_ul {
	position: absolute;
}

.header_list li:nth-child(1) .header_bullet_ul {
	top: 7px;
	left: -70px;
}
.header_list li:nth-child(2) .header_bullet_ul {
	top: 7px;
	left: -50px;
}
.header_list li:nth-child(3) .header_bullet_ul {
	top: 13px;
	left: -70px;
}

.header_bullet_ul li {
	width: 8px;
	height: 1px;
	background: #cccdce;
	display: inline-block;
	margin: 0 3px
}

.main_btn {
	display: block;
	position: relative;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	background: linear-gradient(to right, rgba(250,181,119,1), rgba(248,202,105,1), rgba(250,181,119,1));

	-webkit-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 6px 10px 0px rgba(252,169,127,1);;
	-moz-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 6px 10px 0px rgba(252,169,127,1);;
	box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 6px 10px 0px rgba(252,169,127,1);;

	border-bottom: 2px solid #fcc278;
	transition: .5s;
}

.main_btn::after {
	content: "";
	width: 82%;
	height: 2px;
	/*background: -webkit-gradient(linear, left top, right top, from(rgba(0,0,0,0)), color-stop(rgba(255,255,255,0.4)), to(rgba(0,0,0,0)));background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.4), rgba(0,0,0,0));background: -o-linear-gradient(left, rgba(0,0,0,0), rgba(255,255,255,0.4), rgba(0,0,0,0));background: linear-gradient(to right, rgba(0,0,0,0), rgba(255,255,255,0.4), rgba(0,0,0,0));*/
	background: -moz-linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 48%, rgba(0,128,128,0) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(48%, rgba(255,255,255,0.3)), color-stop(100%, rgba(0,128,128,0))); /* safari4+,chrome */
	background: -webkit-linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 48%, rgba(0,128,128,0) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 48%, rgba(0,128,128,0) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(360deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 48%, rgba(0,128,128,0) 100%); /* ie10+ */
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 48%, rgba(0,128,128,0) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#008080',GradientType=1 ); /* ie6-9 */
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translateX(-50%);
}

.d_block {
	display: inline-block;
}

.header_btn {
	max-width: 370px;
	height: 65px;
	border-radius: 65px;
	line-height: 65px;
	position: relative;
	z-index: 15;
}

.main_btn:hover {
	/*-webkit-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 0px 20px 3px rgba(199,187,199,1);
	-moz-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 0px 20px 3px rgba(199,187,199,1);
	box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 0px 20px 3px rgba(199,187,199,1);
	transform: scale(1.03);*/
}

.main_btn:hover {
	background: rgba(254,224,76,1);
	background: linear-gradient(to right, rgba(250,181,119,1), rgba(254,224,76,1), rgba(250,181,119,1));

	-webkit-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1);
	-moz-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1);
	box-shadow: 0px 5px 0px 0px rgba(252,169,127,1);
}

/*_:-ms-input-placeholder, :root .main_btn:hover { -webkit-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 0px 20px 2px rgba(199,187,199,1); }
_:-ms-input-placeholder, :root .main_btn:hover { -moz-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 0px 20px 2px rgba(199,187,199,1);}
_:-ms-input-placeholder, :root .main_btn:hover { box-shadow: 0px 5px 0px 0px rgba(252,169,127,1), 0px 0px 20px 2px rgba(199,187,199,1); }*/

/*.header_btn::before {
	content: "";
	width: 67px;
	height: 11px;
	background: url(../img/header_arrow.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 12px;
  left: -100px;
}*/

.main_btn_wrap {
	position: relative;
}

.main_btn_wrap::before {
	content: "";
	width: 67px;
	height: 11px;
	background: url(../img/header_arrow.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 12px;
  left: -100px;
}

.header_product {
	position: absolute;
  /*bottom: -30%;*/
 	top: 376px;
  left: 24.5%;
  z-index: 10;
  width: 355px;
}

.header_product_for_mobile {
	display: none;
}

.product_sale {
	position: absolute;
	top: -43px;
  left: 101px;
}

.header_left {
	position: relative;
}

.header_feet {
	position: absolute;
	top: 0;
	left: -23px;
	z-index: 5;
}

/*.header_feet::before {
	content: "";
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 2px solid #e0dfdf;
	position: absolute;
	top: 119px;
	left: -4px;
	z-index: -5;
}

.header_feet::after {
	content: "";
	width: 598px;
	height: 598px;
	border-radius: 50%;
	border: 2px solid #e0dfdf;
	position: absolute;
	top: 70px;
	left: -54px;
	z-index: -5;
}*/

.header_left::before {
	content: "";
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border: 2px solid #e0dfdf;
	position: absolute;
	top: 119px;
	left: -24px;
	z-index: 1;
}

.header_left::after {
	content: "";
	width: 598px;
	height: 598px;
	border-radius: 50%;
	border: 2px solid #e0dfdf;
	position: absolute;
	top: 70px;
	left: -74px;
	z-index: 1;
}

.feet_action_wrap {
	position: absolute;
	top: 385px;
  left: 143px;
	z-index: 9;
}

.feet_action {
	font-style: italic;
	font-weight: 500;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: #ffffff;
	text-align: center;
	width: 112px;
	height: 112px;
	border-radius: 50%;
	font-size: 13px;
	letter-spacing: -0.6px;
}

.feet_action1, .feet_action1_footer {
	background: #cb2d45;

	-webkit-box-shadow: 0px 0px 0px 30px rgba(203,45,49,0.2);
	-moz-box-shadow: 0px 0px 0px 30px rgba(203,45,49,0.2);
	box-shadow: 0px 0px 0px 30px rgba(203,45,49,0.2);
}

.feet_action2, .feet_action2_footer {
	background: #f2af63;

	-webkit-box-shadow: 0px 0px 0px 30px rgba(242,175,99,0.2);
	-moz-box-shadow: 0px 0px 0px 30px rgba(242,175,99,0.2);
	box-shadow: 0px 0px 0px 30px rgba(242,175,99,0.2);
}

.feet_action3, .feet_action3_footer {
	background: #5b943d;

	-webkit-box-shadow: 0px 0px 0px 30px rgba(91,148,61,0.2);
	-moz-box-shadow: 0px 0px 0px 30px rgba(91,148,61,0.2);
	box-shadow: 0px 0px 0px 30px rgba(91,148,61,0.2);
}

.action0 {
	/*opacity: 1;*/
	position: relative;
	display: block;
}

.action1, .action2, .action3 {
	/*opacity: 0;*/
	position: relative;
	opacity: 1;
	display: none;
}

.feet_action1_op, .feet_action2_op, .feet_action3_op {
	opacity: 1;
}

.feet_action1, .feet_action2, .feet_action3 {
	opacity: 0;
	transition: .8s;
}

.action_wrap {
	z-index: 25;
}

/*.action0 {
	z-index: 1;
	opacity: 1;
}

.action1 {
	z-index: 0;
}

.action2 {
	z-index: 0;
}

.action3 {
	z-index: 0;
}*/

.header_feet img {
	z-index: 5;
}

.scroll {
	width: 25px;
	height: 50px;
	border: 2px solid #dadada;
	border-radius: 25px;
	position: absolute;
	bottom: -196px;
	left: 49.4%;
	z-index: 20;
	cursor: pointer;
}

.scroll::before {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: 21px;
	transform: translateX(-50%);
	background: #faebed;
	-webkit-animation: 2s scroll_before linear infinite;
	-o-animation: 2s scroll_before linear infinite;
	animation: 2s scroll_before linear infinite;
}

.scroll::after {
	content: "";
	width: 7px;
	height: 7px;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	bottom: 11px;
	transform: translateX(-50%);
	background: #faebed;
	-webkit-animation: 2s scroll_after linear infinite;
	-o-animation: 2s scroll_after linear infinite;
	animation: 2s scroll_after linear infinite;
	-webkit-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

@keyframes scroll_after {
	0%, 60%, 100% {
		background: #faebed;
	}
	20% {
		background: #d2364d;
	}
}
@keyframes scroll_before {
	0%, 60%, 100% {
		background: #faebed;
	}
	20% {
		background: #d2364d;
	}
}


.section2 {
	padding-top: 142px;
	padding-bottom: 80px;
}

.section2 h2 {
	padding-top: 30px;
}

h2 {
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}

.under_h2 {
	font-size: 18px;
	color: #444444;
	display: block;
	text-align: center;
	margin-top: 16px;
}

.symptoms_list {
	margin-top: 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.symptoms_item {
	text-align: center;
	position: relative;
	width: 377px;
}

.symptoms_item::after {
	content: "";
	width: 158px;
	height: 13px;
	background: url(../img/dots_after.png) no-repeat;
	position: absolute;
	top: 32%;
	right: -87px;
	z-index: -3;
}

.symptoms_item:last-child::after {
	display: none;
}

.symptoms_item_img {
	width: 224px;
	height: 224px;
	border-radius: 50%;
	margin: 0 auto;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.symptoms_item:nth-child(1) .symptoms_item_img img {
	animation: 4.5s symptoms1 linear infinite;
}

.symptoms_item:nth-child(1) .symptoms_item_img::before {
	animation: 4.5s oneone linear infinite;
}

.symptoms_item:nth-child(1) .symptoms_item_img::after {
	animation: 4.5s symptoms1 linear infinite;
}

.symptoms_item:nth-child(2) .symptoms_item_img img {
	animation: 4.5s symptoms1 linear infinite;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.symptoms_item:nth-child(2) .symptoms_item_img::before {
	animation: 4.5s oneone linear infinite;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.symptoms_item:nth-child(2) .symptoms_item_img::after {
	animation: 4.5s symptoms1 linear infinite;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.symptoms_item:nth-child(3) .symptoms_item_img img {
	animation: 4.5s symptoms1 linear infinite;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.symptoms_item:nth-child(3) .symptoms_item_img::before {
	animation: 4.5s oneone linear infinite;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.symptoms_item:nth-child(3) .symptoms_item_img::after {
	animation: 4.5s symptoms1 linear infinite;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.symptoms_item:nth-child(1) .symptoms_item_img::before {
	content: "";
	width: 235px;
	height: 235px;
	border-radius: 50%;
	background:  linear-gradient(to right, #cb2e45 10%, #fad587 70%);
	position: absolute;
	top: -6px;
	left: -5px;
	z-index: -1;
}

.symptoms_item:nth-child(2) .symptoms_item_img::before {
	content: "";
	width: 235px;
	height: 235px;
	border-radius: 50%;
	background:  linear-gradient(to left, #cb2e45 10%, #fad587 70%);
	position: absolute;
	top: -6px;
	left: -5px;
	z-index: -1;
}

.symptoms_item:nth-child(3) .symptoms_item_img::before {
	content: "";
	width: 235px;
	height: 235px;
	border-radius: 50%;
	background:  linear-gradient(to top, #cb2e45 10%, #fad587 70%);
	position: absolute;
	top: -6px;
	left: -5px;
	z-index: -1;
}

.symptoms_item_img::after {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: -5px;
	right: -10px;
	color: #ffffff;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	line-height: 28px;
}

.symptoms_item:nth-child(1) .symptoms_item_img::after {
	content: "1";
	background: #fab677;
}

.symptoms_item:nth-child(2) .symptoms_item_img::after {
	content: "2";
	background: #dd6158;
}

.symptoms_item:nth-child(3) .symptoms_item_img::after {
	content: "3";
	background: #ca2b43;
}

.symptoms_item:nth-child(1) .symptoms_item_img {
	/*background: url(../img/symptoms1.png) no-repeat center center;*/
	background-color: #fff;
}
.symptoms_item:nth-child(2) .symptoms_item_img {
	/*background: url(../img/symptoms2.png) no-repeat center center;*/
	background-color: #fff;
}
.symptoms_item:nth-child(3) .symptoms_item_img {
	/*background: url(../img/symptoms3.png) no-repeat center center;*/
	background-color: #fff;
}

.symptoms_item_descr p {
	font-weight: 500;
	font-size: 20px;
	margin: 26px 0 6px;
}

.symptoms_item:nth-child(1) .symptoms_item_descr p {
	animation: 4.5s text1 linear infinite;
}

.symptoms_item:nth-child(2) .symptoms_item_descr p {
	animation: 4.5s text2 linear infinite;
	-webkit-animation-delay: 1.5s;
	-o-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.symptoms_item:nth-child(3) .symptoms_item_descr p {
	animation: 4.5s text3 linear infinite;
	-webkit-animation-delay: 3s;
	-o-animation-delay: 3s;
	animation-delay: 3s;
}

.symptoms_item span {
	color: #444444;
	font-size: 18px;
	font-style: italic;
}

@keyframes symptoms1 {
	0%,30%,100% {
		transform: scale(1.0);
	}
	15% {
		transform: scale(1.1);
	}
}

@keyframes oneone {
	0%,30%,100% {
		transform: scale(1.0);
	}
	15% {
		transform: scale(1.03);
	}
}

@keyframes text1 {
	0%,31%,100% {
		color: #000000;
	}
	1%,30% {
		color: #fab677;
	}
}

@keyframes text2 {
	0%,31%,100% {
		color: #000000;
	}
	1%,30% {
		color: #dd6158;
	}
}

@keyframes text3 {
	0%,31%,100% {
		color: #000000;
	}
	1%,30% {
		color: #ca2b43;
	}
}

.section3 {
	background: #f2f7fb;
	padding: 85px 0 150px;
}

.sickness_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin-top: 20px;
}

.sickness_img {
	width: 402px;
	height: 402px;
	background: #ffffff;
	border: 5px solid rgba(250,182,119,1);
	border-radius: 50%;
	position: relative;
	z-index: 2;
	animation: 9s sickness_border_first linear infinite;
}

.feet1 {
	opacity: 1;
	-webkit-animation: 9s feet1 linear infinite;
	-o-animation: 9s feet1 linear infinite;
	animation: 9s feet1 linear infinite;
}
.feet2 {
	opacity: 0;
		-webkit-animation: 9s feet2 linear infinite;
	-o-animation: 9s feet2 linear infinite;
	animation: 9s feet2 linear infinite;
}
.feet3 {
	opacity: 0;
		-webkit-animation: 9s feet3 linear infinite;
	-o-animation: 9s feet3 linear infinite;
	animation: 9s feet3 linear infinite;
}

.sickness_img::after {
	content: "";
	width: 310px;
	height: 310px;
	border-radius: 50%;
	border: 3px solid #f3f3f3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.sickness_img img {
	position: absolute;
	top: 50%;
	left: 46%;
	transform: translate(-50%,-50%);
	z-index: 3;
}

.sickness_right ul .sickness_right_li {
	padding-left: 94px;
	position: relative;
	margin-bottom: 45px;
	padding-top: 15px;
}

.sickness_right {
	margin-top: 30px;
}

.sickness_right ul .sickness_right_li:nth-child(1)::before {
	content: "1";
	width: 70px;
	height: 70px;
	background: rgba(250,182,119,1);
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	-webkit-animation: 9s sickness_shadow1 linear infinite;
	-o-animation: 9s sickness_shadow1 linear infinite;
	animation: 9s sickness_shadow1 linear infinite;
}
.sickness_right ul .sickness_right_li:nth-child(2)::before {
	content: "2";
	width: 70px;
	height: 70px;
	background: rgba(221,97,88,1);
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	-webkit-animation: 9s sickness_shadow2 linear infinite;
	-o-animation: 9s sickness_shadow2 linear infinite;
	animation: 9s sickness_shadow2 linear infinite;
}
.sickness_right ul .sickness_right_li:nth-child(3)::before {
	content: "3";
	width: 70px;
	height: 70px;
	background: rgba(202,43,67,1);
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	-webkit-animation: 9s sickness_shadow3 linear infinite;
	-o-animation: 9s sickness_shadow3 linear infinite;
	animation: 9s sickness_shadow3 linear infinite;
}

.sickness_right ul .sickness_right_li:nth-child(1)::after {
	content: "";
	width: 25px;
	height: 3px;
	background: rgba(250,182,119,1);
	position: absolute;
	top: 0;
	left: 94px;
}
.sickness_right ul .sickness_right_li:nth-child(2)::after {
	content: "";
	width: 25px;
	height: 3px;
	background: rgba(221,97,88,1);
	position: absolute;
	top: 0;
	left: 94px;
}
.sickness_right ul .sickness_right_li:nth-child(3)::after {
	content: "";
	width: 25px;
	height: 3px;
	background: rgba(202,43,67,1);
	position: absolute;
	top: 0;
	left: 94px;
}

.sickness_name {
	font-size: 20px;
	font-weight: 500;
}

.sickness_descr {
	font-size: 18px;
	color: #666666;
	font-style: italic;
	margin-top: 3px;
	max-width: 550px;
	letter-spacing: -0.6px;
}

.sickness_lines li {
	width: 8px;
	height: 1px;
	background: #cccdce;
	display: inline-block;
	margin: 0 3px
}

.sickness_lines {
	position: absolute;
	top: 50%;
	left: -121px;
	transform: translateY(-50%);
	z-index: 1;
}

@keyframes sickness_border_first {
	0%,27%{
		border-color: rgba(250,182,119,1);
	}
	33%,60%{
		border-color: rgba(221,97,88,1);
	}
	67%,94% {
		border-color: rgba(202,43,67,1);
	}
}

@keyframes feet1 {
	0%,27%{
		opacity: 1;
	}
	33%,60%{
		opacity: 0;
	}
	67%,94% {
		opacity: 0;
	}
}

@keyframes feet2 {
	0%,27%{
		opacity: 0;
	}
	33%,60%{
		opacity: 1;
	}
	67%,94% {
		opacity: 0;
	}
}

@keyframes feet3 {
	0%,27%{
		opacity: 0;
	}
	33%,60%{
		opacity: 0;
	}
	67%,94% {
		opacity: 1;
	}
}

@keyframes sickness_shadow1 {
	0%,27%, 100%{
		-webkit-box-shadow: 0px 0px 0px 10px rgba(250,182,119,0.5);
		-moz-box-shadow: 0px 0px 0px 10px rgba(250,182,119,0.5);
		box-shadow: 0px 0px 0px 10px rgba(250,182,119,0.5);
	}
	33%,60%{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	67%,94% {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

@keyframes sickness_shadow2 {
	0%,27%, 100%{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	33%,60%{
		-webkit-box-shadow: 0px 0px 0px 10px rgba(221,97,88,0.5);
		-moz-box-shadow: 0px 0px 0px 10px rgba(221,97,88,0.5);
		box-shadow: 0px 0px 0px 10px rgba(221,97,88,0.5);
	}
	67%,94% {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

@keyframes sickness_shadow3 {
	0%,27%,100%{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	33%,60%{
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	67%,94% {
		-webkit-box-shadow: 0px 0px 0px 10px rgba(202,43,67,0.5);
		-moz-box-shadow: 0px 0px 0px 10px rgba(202,43,67,0.5);
		box-shadow: 0px 0px 0px 10px rgba(202,43,67,0.5);
	}
}

.section3 .scroll {
	bottom: -65px;
	left: 49.4%;
}


.section4 {
	padding: 85px 0;
}

.effect_list {
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.effect_list_left {
	/*margin-top: 60px;*/
}

.effect_list_right {
	margin-top: 19px;
}

.effect_list_img {
	width: 408px;
	height: 408px;
	border-radius: 50%;
	border: 2px solid #e0dfdf;
	position: relative;
	background: #ffffff;
	z-index: 3;
}

.effect_list_img::after {
	content: "";
	width: 340px;
	height: 340px;
	border-radius: 50%;
	border: 2px solid #e0dfdf;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.effects_lines li {
	width: 8px;
	height: 1px;
	background: #cccdce;
	display: inline-block;
	margin: 0 3px;
}

.effects_lines {
	position: absolute;
	top: 50%;
	left: -184px;
	transform: translateY(-50%);
}

.effect_list_img img.effect_product {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	right: -14%;
	z-index: 3;
}

.effect_list_img img.effect_sale {  
	position: absolute;
  top: -69px;
  right: 115px;
  z-index: 3;
}

.effect_item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 36px;
}

.effect_item_descr {
	padding-left: 35px;
}

.effect_item_img {
	width: 125px;
	height: 125px;
	background: #f2f5f8;
	border-radius: 50%;
	position: relative;
	flex-shrink: 0;
}

.effect_item_img::after {
	content: "";
	width: 30px;
	height: 30px;
	background: url(../img/chek.png) no-repeat;
	position: absolute;
	top: 0;
	right: -2px;
}

.effect_item_img img {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%,0);
}

.effect_item_name {
	font-size: 20px;
	font-weight: 500;
}

.effect_item_text {
	max-width: 444px;
	color: #444444;
	font-style: italic;
	font-size: 18px;
	margin-top: 10px;
}

.effect_btn {
	max-width: 370px;
	height: 65px;
	border-radius: 65px;
	line-height: 65px;
	position: relative;
	z-index: 2;
	margin: 25px auto 0;
	z-index: 15;
}

.section5 {
	padding: 90px 0;
	background: #f6f9fc;
}

.section5 .under_h2 {
	max-width: 985px;
	margin: 16px auto 0;
}

.component_list {
	margin-top: 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.component_list h3 {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	max-width: 360px;
	margin: 0 auto;
}

.component_item {
	background: #ffffff;
	border-radius: 10px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	/*-ms-align-items: center;
	align-items: center;*/
	max-width: 370px;
	min-height: 160px;
	margin-top: 25px;
	padding: 14px 17px 20px 10px;
	position: relative;

	-webkit-box-shadow: 0px 0px 37px 5px rgba(237,232,237,1);
	-moz-box-shadow: 0px 0px 37px 5px rgba(237,232,237,1);
	box-shadow: 0px 0px 37px 5px rgba(237,232,237,1);
}

.component_item::after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #ffffff;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	right: -10px;
}

.component_right .component_item::after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 10px 10px 0;
	border-color: transparent #ffffff transparent transparent;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	left: -10px;
}

.component_img {
	min-width: 93px;
	margin-right: 4px;
}


.component_descr_name {
	font-size: 18px;
	font-weight: 500;
	position: relative;
}

.component_descr_name::before {
	content: "";
	width: 25px;
	height: 3px;
	background: #fab677;
	position: absolute;
	top: -14px;
	left: 0;1
}

.component_descr_text {
	font-size: 16px;
	color: #444444;
	font-style: italic;
	margin-top: 6px;
}

.component_mid_img {
	width: 367px;
	height: 367px;
	border-radius: 50%;
	border: 5px solid #ca2b43;
	background: #ffffff;
	position: relative;
	margin-top: 50px;

	-webkit-animation: 7s sickness_border linear infinite;
	-o-animation: 7s sickness_border linear infinite;
	animation: 7s sickness_border linear infinite;
}

.component_mid_img img {
	position: absolute;
	top: 54%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.comp_feet2, .comp_feet3, .comp_feet4, .comp_feet5, .comp_feet6 {
	opacity: 0;
}

.comp_feet1 {
	opacity: 1;
	-webkit-animation: 7s sickness_img1 linear infinite;
	-o-animation: 7s sickness_img1 linear infinite;
	animation: 7s sickness_img1 linear infinite;
}
.comp_feet2 {
	-webkit-animation: 7s sickness_img2 linear infinite;
	-o-animation: 7s sickness_img2 linear infinite;
	animation: 7s sickness_img2 linear infinite;
}
.comp_feet3 {
	-webkit-animation: 7s sickness_img3 linear infinite;
	-o-animation: 7s sickness_img3 linear infinite;
	animation: 7s sickness_img3 linear infinite;
}
.comp_feet4 {
	-webkit-animation: 7s sickness_img4 linear infinite;
	-o-animation: 7s sickness_img4 linear infinite;
	animation: 7s sickness_img4 linear infinite;
}
.comp_feet5 {
	-webkit-animation: 7s sickness_img5 linear infinite;
	-o-animation: 7s sickness_img5 linear infinite;
	animation: 7s sickness_img5 linear infinite;
}
.comp_feet6 {
	-webkit-animation: 7s sickness_img6 linear infinite;
	-o-animation: 7s sickness_img6 linear infinite;
	animation: 7s sickness_img6 linear infinite;
}

@keyframes sickness_border {
	0%,12%{
		border-color: #ca2b43;
	}
	16%,28%{
		border-color: #dd625e;
	}
	32%,44% {
		border-color: #de845a;
	}
	48%,60%{
		border-color: #fcba86;
	}
	64%,78%{
		border-color: #adc787;
	}
	82%,94%,100% {
		border-color: #75974d;
	}
}

@keyframes sickness_img1 {
	0%,12%{
		opacity: 1;
	}
	16%,28%{
		opacity: 0;
	}
	32%,44% {
		opacity: 0;
	}
	48%,60%{
		opacity: 0;
	}
	64%,78%{
		opacity: 0;
	}
	82%,94% {
		opacity: 0;
	}
}

@keyframes sickness_img2 {
	0%,12%{
		opacity: 0;
	}
	12%,28%{
		opacity: 1;
	}
	32%,44% {
		opacity: 0;
	}
	48%,60%{
		opacity: 0;
	}
	64%,78%{
		opacity: 0;
	}
	82%,94% {
		opacity: 0;
	}
}

@keyframes sickness_img3 {
	0%,12%{
		opacity: 0;
	}
	16%,28%{
		opacity: 0;
	}
	28%,44% {
		opacity: 1;
	}
	48%,60%{
		opacity: 0;
	}
	64%,78%{
		opacity: 0;
	}
	82%,94% {
		opacity: 0;
	}
}

@keyframes sickness_img4 {
	0%,12%{
		opacity: 0;
	}
	16%,28%{
		opacity: 0;
	}
	32%,44% {
		opacity: 0;
	}
	44%,60%{
		opacity: 1;
	}
	64%,78%{
		opacity: 0;
	}
	82%,94% {
		opacity: 0;
	}
}

@keyframes sickness_img5 {
	0%,12%{
		opacity: 0;
	}
	16%,28%{
		opacity: 0;
	}
	32%,44% {
		opacity: 0;
	}
	48%,60%{
		opacity: 0;
	}
	60%,78%{
		opacity: 1;
	}
	82%,94% {
		opacity: 0;
	}
}

@keyframes sickness_img6 {
	0%,12%{
		opacity: 0;
	}
	16%,28%{
		opacity: 0;
	}
	32%,44% {
		opacity: 0;
	}
	48%,60%{
		opacity: 0;
	}
	64%,78%{
		opacity: 0;
	}
	78%,94%,100% {
		opacity: 1;
	}
}



.section6 {
	padding: 85px 0;
}

.section6 h2 {
	max-width: 902px;
	margin: 0 auto;
	/*line-height: 43px;*/
}

.slider_wrap {
	margin-top: 47px;
}

.review_item {
	text-align: center;
	padding-top: 20px;
	outline: none;
	cursor: pointer;
}

.review_item_img {
	position: relative;
	width: 174px;
	height: 174px;
	background: #ffffff;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 0 auto;
}

.review_item_img img {
	/*margin: 0 auto;*/
}

.review_item_img::before {
	content: "";
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: #e9eef2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: .5s;
}

.slick-current .review_item_img::before {
	content: "";
  width: 186px;
  height: 186px;
  border-radius: 50%;
  background: linear-gradient(to right, #cb2e45 10%, #fad587 70%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: .5s;
}

.slick-current .review_item_img_wrap {
	transform: scale(1.1);
}

.slick-current .review_item_text {
	color: #000;
	transition: .5s;
}

.review_item_img_wrap {
	transition: .5s;
}

.review_item_name {
	font-size: 20px;
	font-weight: 500;
	margin: 24px 0 6px;
}

.review_item_text {
	color: #444444;
	font-size: 17px;
	font-style: italic;
	transition: .5s;
}

.for_review p {
	color: #444444;
	font-size: 18px;
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;
	line-height: 27px;
}

.for_review {
	position: relative;
	padding-top: 45px;
	outline: none;
}

.for_review::before {
	content: "";
	width: 23px;
	height: 19px;
	background: url(../img/quotes.png) no-repeat;
	position: absolute;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);
}

.slider-nav {
	position: relative;
}

.slider-nav::before {
	content: "";
	background: url(../img/slider_bg.png);
	width: 577px;
	height: 1px;
	position: absolute;
	top: 40%;
	left: 297px;
}

.review_btn {
	max-width: 310px;
	height: 65px;
	border-radius: 65px;
	line-height: 65px;
	position: relative;
	z-index: 2;
	margin: 40px auto 0;
	font-size: 26px;
	z-index: 15;
}

.section7 {
	background: #f2f7fb;
	padding: 90px 0;
}

.how_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
	margin-top: 10px;
}

.how_img {
	width: 402px;
	height: 402px;
	background: #ffffff;
	border: 5px solid #e9eef2;
	border-radius: 50%;
	position: relative;
	z-index: 2;
}

.how_img::after {
	content: "";
	width: 310px;
	height: 310px;
	border-radius: 50%;
	border: 3px solid #f3f3f3;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.how_img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
}

.how_right ul .how_right_li {
	padding-left: 94px;
	position: relative;
	margin: 45px 0;
	padding-top: 15px;
}

.how_right ul .how_right_li:nth-child(1)::before {
	content: "1";
	width: 70px;
	height: 70px;
	background: rgba(221,97,88,1);
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.how_right ul .how_right_li:nth-child(2)::before {
	content: "2";
	width: 70px;
	height: 70px;
	background: rgba(250,182,119,1);
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.how_right ul .how_right_li:nth-child(3)::before {
	content: "3";
	width: 70px;
	height: 70px;
	background: rgba(91,148,61,1);
	border-radius: 50%;
	line-height: 70px;
	text-align: center;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.how_right ul .how_right_li:nth-child(1)::after {
	content: "";
	width: 25px;
	height: 3px;
	background: rgba(221,97,88,1);
	position: absolute;
	top: 0;
	left: 94px;
}
.how_right ul .how_right_li:nth-child(2)::after {
	content: "";
	width: 25px;
	height: 3px;
	background: rgba(250,182,119,1);
	position: absolute;
	top: 0;
	left: 94px;
}
.how_right ul .how_right_li:nth-child(3)::after {
	content: "";
	width: 25px;
	height: 3px;
	background: rgba(91,148,61,1);
	position: absolute;
	top: 0;
	left: 94px;
}

.how_name {
	font-size: 20px;
	font-weight: 500;
	max-width: 455px;
}

.how_lines li {
	width: 8px;
	height: 1px;
	background: #cccdce;
	display: inline-block;
	margin: 0 3px
}

.how_lines {
	position: absolute;
	top: 50%;
	left: -121px;
	transform: translateY(-50%);
	z-index: 1;
}

.advice {
	text-align: center;
	margin-top: 35px;
	font-size: 18px;
	color: #444444;
}

.order_btn {
	max-width: 370px;
	height: 65px;
	border-radius: 65px;
	line-height: 65px;
	position: relative;
	z-index: 2;
	margin: 40px auto 0;
	font-size: 30px;
	z-index: 15;
}

.section8 {
	padding: 60px 0 83px;
}

.fake_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.fake_right h3 {
	font-size: 40px;
	font-weight: 900;
	margin-top: 27px;
}

.fake_right p {
	color: #444444;
	font-size: 18px;
	margin-top: 40px;
	max-width: 655px;
}

.black_p {
	color: #000;
}

.section9 {
	background: #f5f9fc;
	padding: 90px 0;
}

.question_name_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 40px;
}

.question_name, .answer_name {
	font-weight: 500;
	font-size: 20px;
	position: relative;
	padding-bottom: 20px;
}

.question_name {
	border-bottom: 3px solid #cb2e45;
	min-width: 470px;
	margin-right: 30px;
}

.question_name::after {
	content: "";
	width: 26px;
	height: 26px;
	background: url(../img/question.png) no-repeat;
	position: absolute;
	top: 30%;
	left: 80px;
	transform: translate(0,-50%);
}

.answer_name {
	border-bottom: 3px solid #fab677;
	width: 100%;
}

.answer_name::after {
	content: "";
	width: 30px;
	height: 22px;
	background: url(../img/answer.png) no-repeat;
	position: absolute;
	top: 20%;
	left: 70px;
	transform: translate(0,-50%);
}

.question_answer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	border-top: 1px solid #d4d8db;
}

.question_answer:nth-child(2) {
	border-top: none;
}

.more_question .question_answer:nth-child(2) {
	border-top: 1px solid #d4d8db;
}

.question {
	padding: 30px 0 35px;
	max-width: 467px;
	min-width: 467px;
	margin-right: 30px;
}

.answer {
	padding: 30px 0 35px;}

.question p {
	font-size: 18px;
}

.answer p {
	font-size: 18px;
	color: #444444;
}

.question_wrap {
	/*max-height: 490px;*/
	overflow: hidden;
	/*transition: 2s;*/
}

.more_question {
	display: none;
}

.hide_view {
	margin-top: 40px;
	position: relative;
	padding-top: 34px;
	/*border-top: 1px dashed #cccdce;*/
	position: relative;
}

.hide_view::before {
	content: "";
	width: 100%;
	height: 1px;
	background: url(../img/slider_bg.png);
	position: absolute;
	top: 0;
	left: 0;
}

.hide_view_active {
	max-height: 1500px;
}

.hide_view p {
	text-align: center;
	font-size: 16px;
	color: #666666;
	font-style: italic;
}

.plus_review {
	width: 36px;
	height: 36px;
	background: #5b943d;
	border-radius: 50%;
	position: absolute;
	top: -18px;
	left: 50%;
	transform: translate(-50%,0);
	text-align: center;
	line-height: 36px;
	color: #ffffff;
	font-size: 25px;
	cursor: pointer;
}

.hide_view_name {
	transition: .5s;
}


#for_scroll2 {
	background: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-position: left center;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 80px;
}

.footer_action_wrap1, .footer_action_wrap2, .footer_action_wrap3 {
	display: none;
}

.footer_action1_op, .footer_action2_op, .footer_action3_op {
	opacity: 1;
}

.active_opacity {
	display: block;
}

.footer_bullet1, .footer_bullet2, .footer_bullet3 {
	cursor: pointer;
}


footer {
	padding: 150px 0 50px;
}

.footer_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;f

	font-size: 16px;
	color: #666666;
}

.footer_list a {
	text-decoration: none;
	color: #666666;
}

.footer_mid {
	text-align: center;
}

.footer_right {
	text-align: right;
}


/*popup start*/
.popup-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, .6);
    display: none
}

.popup-block-first {
    width: 600px;
    height: 320px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 8px 8px 85px rgba(0, 0, 0, .45);
    box-shadow: 8px 8px 85px rgba(0, 0, 0, .45);
    position: fixed;
    left: calc(50% - 300px);
    top: calc(50% - 160px);
    text-align: center;
    padding: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease
}

.popup-block-first.active {
    display: none
}

.popup-block-second {
    width: 600px;
    height: 200px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 8px 8px 85px rgba(0, 0, 0, .45);
    box-shadow: 8px 8px 85px rgba(0, 0, 0, .45);
    position: fixed;
    left: calc(50% - 300px);
    top: calc(50% - 100px);
    text-align: center;
    padding: 30px 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 0;
    z-index: -1;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s
}

.popup-block-second.active {
    opacity: 1;
    z-index: 1
}

.popup-review {
    width: 100%;
    height: 200px;
    border: 1px solid #e3e3e3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    outline: 0;
    font-size: 20px;
    padding: 10px;
    overflow: auto;
}

.popup-btn {
    margin-top: 10px
}

.popup-close {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 3px;
}

.popup-close::after {
    content: '';
    width: 2px;
    height: 20px;
    position: absolute;
    background: linear-gradient(to right, rgba(250,181,119,1), rgba(248,202,105,1), rgba(250,181,119,1));
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 0;
    left: 9px
}

.popup-close::before {
    content: '';
    width: 2px;
    height: 20px;
    position: absolute;
    background: linear-gradient(to right, rgba(250,181,119,1), rgba(248,202,105,1), rgba(250,181,119,1));
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    left: 9px
}

.popup-h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 15px
}

.popup-p {
    color: #666;
    font-size: 17px;
    line-height: 24px;
    margin-top: 15px
}

.twelfth-btn {
	border: none;

	width: 198px;
	height: 65px;
	text-align: center;
	line-height: 65px;
	color: black;
	font-weight: bold;
	display: block;

	background: linear-gradient(to right, rgba(250,181,119,1), rgba(248,202,105,1), rgba(250,181,119,1));

	-webkit-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1);
	-moz-box-shadow: 0px 5px 0px 0px rgba(252,169,127,1);
	box-shadow: 0px 5px 0px 0px rgba(252,169,127,1);

	border-bottom: 2px solid #fcc278;

  border-radius: 60px;
  font-size: 19px;
  font-weight: bold;

  cursor: pointer;
  margin: 7px auto;
}
/*popup end*/


/*everad popup*/
.popup_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	background: #ffffff;
	padding: 45px 30px 30px 45px;
	border-radius: 10px;
	z-index: 3;
	position: relative;

	-webkit-box-shadow: 0px 0px 78px -7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 78px -7px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 78px -7px rgba(0,0,0,0.75);
}

.popup_left {
	margin-right: 70px;
}

.popup_img {
	position: relative;
	width: 130px;
}

.popup_sale {
	position: absolute;
	top: -25px;
   right: -21px;
}

.price_list {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
}

.old_price_name, .new_price_name {
	display: block;
	color: #747474;
	font-size: 14px;
}

.x_price_previous {
	font-size: 39px;
	color: #2f2f2f;
	position: relative;
}

.x_price_previous::after {
	content: "";
	width: 100%;
	height: 16px;
	background: url(../img/old_price.png) no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.old_price .x_currency {
	color: #2f2f2f;
	font-size: 16px;
	font-weight: 900;
}

.x_price_current {
	font-size: 44px;
	color: #ca2b43;
	font-weight: 900;
}

.new_price .x_currency {
	color: #ca2b43;
	font-size: 16px;
	font-weight: 900;
}

input {
	width: 280px;
	height: 70px;
	border-radius: 70px;
	border: 1px solid #cfcfcf;
	padding-left: 30px;
	font-size: 18px;
	display: block;
	margin-top: 10px;
	outline: none;
}

.popup_btn {
	border: none;
	width: 100%;
  max-width: 280px;
  height: 65px;
  border-radius: 65px;
  position: relative;
  z-index: 2;
  font-size: 26px;
  outline: none;
  padding: 18px 30px;
  margin: 20px 0 0;
  position: relative;
}

form .main_btn::after {
	bottom: 0;
}

.price_list {
	margin-bottom: 20px;
}

.ever-popup__close {
	width: 58px !important	;
	height: 58px !important;
	background: #f3ba6f;
	border-radius: 5px;
}

.ever-popup__close:after, .ever-popup__close:before {
    right: 25% !important;
    top: 29% !important;
    width: 30px !important;
    height: 2px !important;
    background: #000000 !important;
}

.footer_mid img {
	display: block;
	margin: 0 auto 7px;
}


.slick-prev {
	left: 0%;
  z-index: 30;
  width: 42px;
  top: -110%;
	z-index: 20;
	height: 32px;
}
.slick-next {
	right: 0%;
  z-index: 30;
  width: 42px;
  top: -110%;
	z-index: 20;
	height: 32px;
}

.slick-prev:before, .slick-next:before {
	color: #ca2b43;
	font-size: 40px;
}

